[2016-07-20 08:18] jniebergall opened #8 "Payment method configuration with id "0" not found."
Der Fehler tritt auf, wenn man mit Kreditkarte zahlen will:

Payment method configuration with id "0" not found.

[code]

Wir verwenden die aktuellste Version vom commit 9cd4d08.

[2016-07-20 09:13] fjbender commented on #8
Moin @jniebergall, kannst du mir einen Konfigurationsexport schicken? In der Regel deutet das Problem auf eine unvollständige Konfiguration hin (ist manchmal nicht ganz leicht zu erkennen).

[2016-07-21 11:13] fjbender opened #9 "With 2cc7cec pr #7 was reverted"
Please reapply.

[2016-07-21 11:48] Fatchip-Support commented on #9
done

[2016-07-21 12:25] #9 closed

[2016-08-02 10:53] Sp0ng3b0b commented on #8
@fjbender Bei mir existiert dasselbe Problem. Welche Konfiguration sollte man überprüfen?

[2016-08-02 11:08] PAYONE-GmbH commented on #8
Hallo @Sp0ng3b0b ... grundsätzlich betrifft dies solche Felder wie Minmaler/Maximaler Warenkorb bei aktivierten Zahlungsarten, die gar nicht befüllt sind.
Ein Beispiel:
So sollte es im Konfigurationsexpport (Menü: PAYONE->Konfiguration->Konfiguration exportieren) aussehen:
`<cc>
	<title><![CDATA[PAYONE creditcard]]></title>
	<id>13</id>
	<mid>12345</mid>
	<aid>54321</aid>
	<portalid>2022951</porta

[2016-08-02 11:24] Sp0ng3b0b commented on #8
@PAYONE-GmbH Das hat mein Problem gelöst, vielen Dank :) :+1:

[2016-08-04 15:22] Backenkoehler commented on #8
Wir haben leider das gleiche Problem trotz min_order_total mit 0 und max_order_total 10000

`      <cc>
        <title><![CDATA[Creditcard]]></title>
        <id>12</id>
        <mid>31302</mid>
        <aid>33250</aid>
        <portalid>2022345</portalid>
        <min_order_total>0</min_order_total>
        <max_order_total>10000</max_order_total>
        <cvc2>always</cvc2>
        <types>V,M,A,

[2016-08-05 06:38] PAYONE-GmbH commented on #8
Hallo @Backenkoehler,

ich müsste mir einmal die komplette XML Datei anschauen, da sich leider nicht nur an den Warenkorbgrenzen der Fehlerteufel einschleichen kann.
Damit Ihre Daten geschützt werden / bleiben einfach die XML an integrations@payone.de senden.

Beste Grüße Timo Kuchel

[2016-10-26 16:03] tobiasteatox opened #12 "Sofortüberweisung not working with Magento 1.9.3.0"
There seems to be an error with sofortüberweisung and the latest version of magento. When placing an order via sofortüberweisung, sofort.com prints out the following error message.

"... Der übergebene Input-Hash stimmt nicht mit dem von uns berechneten Input-Hash überein. Wenn Sie der Shopbetreiber sind, überprüfen Sie bitte, ob das in Ihrem Shopsystem gespeicherte Projektpasswort mit dem Projekt

[2016-10-26 16:09] fjbender commented on #12
Hi,

This is a known issue with mage 1.9.3.0. Redirect URLs are now double encodes, which leads to special chars being lost and the hash being invalid. We'll release a patch asap.

[2016-10-26 16:35] tobiasteatox commented on #12
Hi fjbender,

thanks for the quick response! Is there workaround for the moment?

Thanks in advance

[2016-10-26 16:38] fjbender commented on #12
Nope, sorry, it's a Magento change, we can't do anything about it.

[2016-10-27 07:48] tobiasteatox commented on #12
Until there is a real fix for this issue the Quick & Dirty way is to remove the encodeURI function from the opcheckout.js

[code]

[2016-10-27 10:28] fjbender commented on #12
Fixed with bb19424

[2016-10-27 10:28] #12 closed

[2016-11-03 16:48] novakivskiy opened #14 "Please add composer.json"
Will be very good if the module can be updated through the composer. Please add composer.json and modman file
Example:
{
    "name": "payone_gmbh/magento1",
    "type": "magento-module",
    "license": "GPL-3.0+",
    "description": "Payone Magento Extension",
    "keywords": ["payment", "Magento", "Payone"],
    "homepage": "http://www.payone.de",
    "authors": [
        {
            "name": "P

[2016-11-07 07:49] fjbender commented on #14
Added ``composer.json`` and ``modman``, also submitted package to repositories.

[2016-11-07 07:49] #14 closed

[2016-11-07 07:57] novakivskiy commented on #14
great, thanks

[2016-11-25 11:46] Nasatya opened #16 "Answer from Server with coding problem"
Hello,

the extension is sending this response asnwer to Payone:

ï»¿TSOK

Could you please help me why this happens. I was reading its UTF-8 problem, but i could find the file that would have the wrong encoding. The right response should be without the "ï»¿" and now the whole Payment is not working accordingly.

https://en.wikipedia.org/wiki/Byte_order_mark

Thank you very much for your help.

[2016-11-25 13:07] fjbender commented on #16
The ï»¿ usually appears when a BOM is sent but the content is believed to be ISO-8859 encoded. Please make sure your server sends the right encoding header when the Payone platform pushes the transaction status.

[2016-11-30 11:58] bragento commented on #8
Hallo @Backenkoehler,

ich habe ein ähnliches Problem. Keine Kreditkartenzahlung möglich.
exception 'Payone_Core_Exception_PaymentMethodConfigNotFound' with message 'Payment method configuration with id "" not found.' in .......

In der phtml creditcardiframe wird beim value vom hidden input nichts gesetzt. Nur für KK.

Eine Mail mit der der Config schicke ich an o.g. Mail.

Besten Gruß
Christian

[2016-11-30 12:01] Backenkoehler commented on #8
Hallo @bragento

Wir haben bisher auch noch keine richtige Lösung dafür und das Problem ist auch nicht global, sondern immer nur in einer gewissen Store View. Wenn man Kreditkarte als Zahloption in den Payone-Einstellungen löscht und wieder hinzugefügt funktioniert es dann eben nach einigen Versuchen (und dann muss man wieder alle anderen Store Views testen). Auf jeden Fall ein sehr merkwürdiges P

[2016-11-30 12:05] fjbender commented on #8
Moin zusammen,

wir arbeiten aktuell an einem Umbau der gesamten Zahlartenstruktur, sodass Probleme dieser Art (und noch ganz viele andere nervige Dinge) nicht mehr auftauchen sollten. Da der Umbau wohl sehr umfangreich ausfallen wird, müssen wir hier noch um etwas Geduld bitten.

Während dieser Zeit helfen wir bei Problemen natürlich nach Kräften weiter über unseren Support.

Beste Grüße
Florian

[2016-12-07 10:04] ernsto opened #17 "Missing argument 1 for Payone_Core_Model_Mapper_ApiRequest_Payment_Authorize_Abstract::getNarrativeText()"
I get following message in the `system.log` when i use the credit card payment method. (I use PHP7)
[code]

**Solution**
Edit the File `app\code\community\Payone\Core\Model\Mapper\ApiRequest\Payment\Authorize\Abstract.php`:
Remove the line 766 and and the `$type` parameter from the `getNarrativeText` method. The `$type` parameter is not used.

**Before:**
![image](https://cloud.githubusercontent.c

[2016-12-07 15:35] fjbender commented on #17
Thanks for your input, we'll change it in the next version.

[2016-12-08 08:37] sprankhub opened #18 "Invalid argument supplied for foreach CcHostedTranslations.php"
In version 3.7.0, I get the following error/warning in the system.log:

    2016-12-07T06:38:41+00:00 ERR (3): Warning: Invalid argument supplied for foreach()  in app/code/community/Payone/Core/Model/Config/General/CcHostedTranslations.php on line 34

The reason should be the following:

- We did not configure any translations.
- app/code/community/Payone/Core/Model/Config/General/CcHostedTransla

[2016-12-08 09:00] ernsto commented on #8
@PAYONE-GmbH Wir hatten das gleiche Problem. Wir konnten es aber dank folgendem Tipp lösen:
https://github.com/PAYONE-GmbH/magento-1/issues/8#issuecomment-236873671

Vielen Dank :+1:

[2016-12-08 09:06] fjbender commented on #18
@sprankhub Should be a simple fix, but just to be sure the bug is not located elsewhere: What's the value for the path payone_general/cc_hosted_translations/cc_translation_months in your core_config_data table? For me its an empty serialized Array `a:0:{}`, for you it should be empty or the key non-existant.

[2016-12-08 09:15] sprankhub commented on #18
mysql> SELECT * FROM `core_config_data` WHERE `path` = 'payone_general/cc_hosted_translations/cc_translation_months';
    Empty set (0.01 sec)

I guess this is because I never saved the config since these new config values are present.

Thanks for the fix!

[2016-12-08 14:38] #17 closed

[2016-12-08 14:38] #18 closed

[2016-12-09 08:30] fjbender commented on #16
No response for 14 days.

[2016-12-09 08:30] #16 closed

[2017-01-03 10:01] razbakov opened #21 "Missing files in 3.7.3"
Please create a new version tag for current master

For example in 3.7.3 missing the following files in design folder:

- payone/core/checkout/protect.phtml
- payone/core/checkout/onepage/init.phtml

[2017-01-03 12:12] fjbender commented on #21
I'm sorry, I can't see the problem:

[code]

Is there anything I'm missing?

[2017-01-03 14:58] razbakov commented on #21
Sorry, you are right.

[2017-01-03 14:58] #21 closed

[2017-01-19 09:05] MarcoD13 opened #23 "Zahlart: Ratenkauf Bug"
app/code/community/Payone/Core/Block/Payment/Method/Form/Payolution.php

Zeile: 221
`public function getHandleInstallmentUrl()
    {
        return $this->getUrl('payone_core/checkout_onepage/handlePayolutionInstallment');
    }`

hier wird im Checkout eine unsichere URL geladen und führt bei "https"-Seiten zum Abbruch und einer Fehlermeldung bei Auswahl der Zahlart "Ratenkauf"

Lösung:
`return $t

[2017-01-19 12:02] #23 closed

[2017-01-31 08:53] tniebergall commented on #8
Bei diesem Problem kann es auch helfen, sofern vorhanden die jQuery Integration zu prüfen. Wenn der noconflict Mode nicht direkt auf die jQuery Source folgt, kann es ebenfalls zu diesem Problem kommen, da das Payone JS fehlerhaft verarbeitet wird.

[2017-02-06 09:10] fjbender commented on #8
Maybe 48937d3304bd61f587b3f7635d89100d5f141db5 fixed the issue. Can anyone confirm?

[2017-02-11 22:20] riconeitzel opened #32 "Serialized Array String invalid"
app/code/community/Payone/Core/etc/config.xml:735

[code]

WARNING: Error at offset 29 of 135 bytes

## Solution

All three elements should read
```a:1:{s:15:"_148 …```  … s:15 instead of s:18

[2017-02-13 06:19] fjbender commented on #32
Thanks for pointing this out, fixed it in #33.

[2017-02-13 06:50] #32 closed

[2017-02-16 16:32] sprankhub opened #35 "PayPal Orders Are Sometimes Saved as Prepayment Orders"
Magento 1.9.2.4, PAYONE 3.7.3.

Most of the PayPal orders are correctly shown as "PayPal" in the backend. Unfortunately, some orders, which have been paid via PayPal are shown as "Prepayment" / "Vorkasse". The `payment_method` in this case is still `payone_wallet` (=PayPal), but if I go into the order, under "Payment Information" / "Zahlungsinformation", the value "Prepayment" / "Vorkasse" is show

[2017-02-17 09:31] TKlement commented on #14
Since you are already using the "magento-hackathon/magento-composer-installer", there is no need to use modman anymore.
The hackathon package is able to do everything you want to do with modman.

So please extend your composer.json with the mapping from modman. The modman file may stay to be compatible with older workflows.
Currently we are remove every modman file from our repositories so we can

[2017-02-17 10:19] tniebergall commented on #14
I think the modman file should not be removed, because there are also other implementations of composer and magento1, like the one from AOE.

[2017-02-17 11:15] TKlement commented on #14
As I said the modman file can be used for projects using the modman variant.

[2017-02-17 11:16] tniebergall commented on #14
Oh sorry my fault ;-)

[2017-02-17 13:30] fjbender commented on #14
It's done.

[2017-02-18 17:56] template-provider opened #37 "Problem with jsonDecode on empty customerData (PHP7)"
Hi,
we are using the Payone Extension 3.7.0 with Magento 1.9.3.1.
We are having a problem with the onepage checkout. After the 3rd step(shipping),
the ajax call for the payment infos throws an error.
The payone extension want to json_decode an empty string and the Zend_Json throws the error.
Class: Payone_Core_Model_Domain_Customer
[code]
The "$this->customer_data" is empty in our case. I think th

[2017-02-20 08:54] fjbender commented on #37
Hi Jan,

while I understand the point, I simply cannot reproduce it on my machine (although I'm pretty sure it can't work... :D).

Which of the AJAX calls is failing exactly, so I can debug it?

Thanks
Florian

[2017-02-20 10:09] template-provider commented on #37
Hi,
it is the saveShipping ajax call in the onepage checkout:
example: checkout/onepage/saveShippingMethod/

Did u try to reproduce it with php7? But like u said: The code speaks for itself ;-)

Greetings Jan

[2017-02-20 10:41] fjbender commented on #37
Now I was able to reproduce:

[code]

Key was to make sure that actually there was no data for this customer in the `payone_cusomer` table...

I think it would be the easiest and fastest solution if you just propose a pull request :)

Best
Florian

[2017-02-20 13:20] FatchipRobert commented on #35
The only way we could reproduce this behaviour by now is with a kind of "tabbed-fraud" approach with having one tab of the shop go to PayPal Express and having another tab of the shop going through the checkout and changing the payment type to prepayment for example and then finishing the checkout in the PayPal Express tab.

Is PayPal Express activated in your shop?

[2017-02-20 13:59] sprankhub commented on #35
PayPal Express is not activated, no. Only PayPal via PAYONE is activated.

[2017-02-24 06:26] Elfen-Service opened #40 "Name should be changed for modman"
Should be Changed from magento-1 to Payone_Magento1 or similar because its too general.

[2017-02-24 06:35] fjbender commented on #40
As I see it, we would need to change the repository name for that. We can't do that, for a variety of reasons.

However, I see that this repo's name is quite general (in a composer context it's not much of a problem as there are namespaces). If there are any collisions or problems you run into, I suggest you fork this repo to Elfen-Service/Payone-Magento1 and use modman from there.

[2017-02-24 06:35] #40 closed

[2017-02-24 12:49] #37 closed

[2017-02-24 12:51] template-provider opened #41 "Mail compatibility with ASchroeder SMTP Plugin"
Hi,
how does the payone extension send its mails?
We are using the aschroeder smtp extension for that pupose. Is this compatible?
Our customer does not seems to get the order mails with the credit card orders over payone.

If so ... is there a workaround for that?
Greetings Jan

[2017-02-24 12:51] template-provider commented on #41
https://github.com/aschroder/Magento-SMTP-Pro-Email-Extension

[2017-02-24 13:04] fjbender commented on #41
As I see it, we're sending the order confirmation e-mail just from the `Mage_Sales_Model_Order` passed to `Payone_Core_Model_Service_Sales_OrderConfirmation`: https://github.com/PAYONE-GmbH/magento-1/blob/master/app/code/community/Payone/Core/Model/Service/Sales/OrderConfirmation.php#L47

I don't know if aschroeder's extension has any special requirements regarding the sending of emails. We will r

[2017-02-24 13:39] fjbender commented on #41
This just hit me: Maybe the transaction status is not received? See `Payone_Core_Model_Observer_TransactionStatus_OrderConfirmation`

[2017-02-24 14:05] template-provider commented on #41
Hi, thanks for the info ... I will log into that ;-)

[2017-02-24 14:17] template-provider commented on #41
ahhh I think it hits me ... we have a new domain since last week.
could be that the problem? no api communication since, but odering is not a problem.
the server correctly gives a 301 to the new url, but I dont think that the payone api follows this from a POST request.

[2017-02-24 14:19] template-provider commented on #41
correct:
{ "time": "2017-02-24T14:28:51+01:00", "remote_addr": "xxxxxxx", "body_bytes_sent": "194", "request_time": "0.000", "status": "301", "request": "POST /de/payone/processing/status HTTP/1.1", "request_method": "POST", "http_referrer": "-", "http_user_agent": "PAYONE FinanceGate" }

ok, this issue has nothing to do with mailing ... will close it

[2017-02-24 14:19] #41 closed

[2017-03-09 13:59] sprankhub commented on #35
Any update? Any idea? Anything we could check?

[2017-03-09 14:27] FatchipRobert commented on #35
Unfortunately I didn't find a way to reproduce this behaviour yet.

[2017-03-10 10:34] isronny commented on #35
Hi - we have the same problems. Most orders with paypal express are OK . But in a few orders there is the information "Lastschrift" or "Ratenkauf" (other payment options in our shop). On the overview there are the correct information, in order details are the information sometimes wrong.

[2017-03-11 20:56] gndk opened #51 "User Role Permissions for Logs -> Transactionstatus -> View/Export are not saved"
To reproduce change user role resource access to custom, enable payone logs -> transactionstatus -> view/export and save role. After opening the resource access settings for this user role again those 2 permissions are disabled again.

[2017-03-14 13:59] T-Kuchel commented on #51
Sorry but i can't reproduce that issue on our instances. We are using version 1.9.3.2 with the master of the extension.

[2017-03-14 14:05] gndk commented on #51
I'm using 1.9.3.2 with Release v3.7.6.

Just checked again and its still there, see short video here: https://www.screencast.com/t/2EaQ6GvYS

Maybe you already fixed it since release 3.7.6

[2017-03-15 09:45] sprankhub opened #53 "Online Bank Transfer Dropdown"
If only SOFORT is activated and the customer selects "online bank transfer" in the checkout, a dropdown is shown with only SOFORT as an option. This is stupid. In the [wallet template](https://github.com/PAYONE-GmbH/magento-1/blob/master/app/design/frontend/base/default/template/payone/core/payment/method/form/wallet.phtml), the select/dropdown is only shown if more than one type is available. I t

[2017-03-15 09:46] fjbender commented on #53
It's stupid, true. We're currently working on splitting up all payment methods, so there won't be any dropdowns in the future.

[2017-03-16 10:55] T-Kuchel commented on #51
OK. Now i can reproduce... @FATCHIP-GmbH please have a look.

[2017-03-17 11:31] T-Kuchel commented on #51
fixed with https://github.com/PAYONE-GmbH/magento-1/issues/54

[2017-03-17 11:31] #51 closed

[2017-03-21 23:39] diglin opened #56 "Online Capture error in Backend"
Hello,

When the merchant generate the Magento invoice from backend and the capture is defined for online, he receives the following errors: `There has been an error processing your payment`

Log shows the followings, any ideas which help me to know the source of the problem ?

[code]

Thanks in advances

[2017-03-22 06:16] fjbender commented on #56
Hi,

This is most likely an error in your configuration or setup in general, not with the module itself. Please contact our Technical Support Team at +49 431 25968-500 or tech.support@payone.de

Thanks
Florian

[2017-03-22 06:16] #56 closed

[2017-03-22 08:42] diglin commented on #56
ok thanks

[2017-03-24 20:19] gndk opened #57 "Problem with switching payment method for logged in customer (maybe only in one step checkout)"
I'm using GoMage Lightcheckout with Payone 3.7.6.

For guest orders everything works perfectly. However for logged in customers when selecting a different payment method, it always switches back to the original one.

See video here: https://screencast.com/t/2nwIjWu64qVa

I dont think this issue only happens with Lightcheckout extension, as I also had this with the standard Magento checkout.

I pai

[2017-03-24 20:27] gndk opened #58 "Update sql not working when using table prefix"
I recently updated from 3.7.6 to the latest master branch commit.

When updating I get an error "1146 Table 'DBNAME.payone_config_payment_method' doesn't exist"

I am using a db prefix so the table is called myprefix_payone_config_payment_method

The table name for the sql upgrade files should be dynamic, including the table prefix from local.xml

[2017-03-26 10:43] gndk opened #59 "New order emails not sending and transactionstatus processing stuck at "running" (probably related problems)"
I'm running Magento 1.9.3.2 with the latest master commit.

After launching this new store and a few orders came in I noticed that new order emails are not getting sent. I am using Aschroder's MageSend extension to send through Amazon SES. New user account emails are sent. New order emails are also sent when using the "send order email" link in the order overview in admin.

First I thought that Ma

[2017-03-27 06:07] T-Kuchel commented on #59
Hi gndk,

first of all, thnal you for this detailed descrition. I think you are running into several problem but the base problem is that the transaction status could not proccessed correctly. Missing / deleted orders that could not be mapped are causing that.
The emails only will be sent out when the transaction status is proccessed.

The second issue with the 404 on the API-Log maybe based on tw

[2017-03-27 06:10] T-Kuchel commented on #58
Hi gndk,

we will take care of this.

[2017-03-27 06:14] T-Kuchel commented on #57
Hi gndk,

we will have a look on that.

[2017-03-27 07:56] gndk commented on #59
Hi,

thanks for the quick response. After backing up I deleted the entries relating to the deleted orders from payone_protocol_transactionstatus and set all remaining (which are all existing orders) to pending. Unfortunately still stuck at "running". I also noticed that the payone transactionstatus cronjob is also stuck at "running" in cron_schedule.

I checked the system.log and now found an erro

[2017-03-27 08:04] gndk commented on #59
It seems like the raw request is incomplete, heres an example:

a:35:{s:3:"key";s:32:"d2884436c42f748b03511d00c6c15558";s:8:"txaction";s:9:"appointed";s:8:"portalid";s:7:"2020136";s:3:"aid";s:5:"36408";s:12:"clearingtype";s:3:"wlt";s:14:"notify_version";s:3:"7.4";s:6:"txtime";s:10:"1490451354";s:8:"currency";s:3:"EUR";s:6:"userid";s:8:"98688065";s:10:"accessname";s:0:"";s:10:"accesscode";s:0:"";s:

[2017-03-27 08:05] gndk commented on #59
It seems like the raw request is incomplete, heres an example:

a:35:{s:3:"key";s:32:"d2884436c42f748b03511d00c6c15558";s:8:"txaction";s:9:"appointed";s:8:"portalid";s:7:"2020136";s:3:"aid";s:5:"36408";s:12:"clearingtype";s:3:"wlt";s:14:"notify_version";s:3:"7.4";s:6:"txtime";s:10:"1490451354";s:8:"currency";s:3:"EUR";s:6:"userid";s:8:"98688065";s:10:"accessname";s:0:"";s:10:"accesscode";s:0:"";s:

[2017-03-27 08:11] gndk commented on #59
I looked at more raw requests. They always break once there is an Umlaut like ö,ä,ü etc in the fields. In the case above the city was "Mönchengladbach" and it stopped at the ö.

For order with not special letters the raw request is complete.

[2017-03-27 08:27] T-Kuchel commented on #59
Yes. I have the same result here regarding your example. I have looked in out testenviroment and i can reproduce this issue.
We will take care of this.

[2017-03-27 08:55] gndk commented on #59
Unforunately seems like this isnt the solution to the transactionstatus processing problem..

I set all processing_status's to complete and only set the ones with complete raw request to pending to rule out this error. Unfortunately still stuck at "running"..

Any way to debug/log where exactly they are getting stuck?

[2017-03-27 08:58] nige-one commented on #59
Same here... Magento 1.9.3.1, Payone 3.7.5

[2017-03-27 15:34] T-Kuchel commented on #58
Should work with the fix now.

[2017-03-27 15:34] #58 closed

[2017-03-27 15:35] T-Kuchel commented on #57
We merged your suggestion.

[2017-03-27 15:35] #57 closed

[2017-03-27 22:42] gndk commented on #57
I just noticed a possible problem with this.

When no default payment method is selected in the Gomage Lightcheckout extension, there is an error on /onepage/checkout for logged-in customers. Guest checkouts are not affected.

Error:
The requested Payment Method is not available.

Trace:
#0 /home/cloudpanel/htdocs/www.petsecu.dev/app/code/core/Mage/Payment/Model/Info.php(82): Mage::throwException(

[2017-03-28 06:21] T-Kuchel commented on #57
Hi gndk,
the problem right now is, that we dont have the gomage extension to reproduce this possible issue.
Maybe the developers from GoMage could give you/us a hint to solve this.

[2017-03-28 07:50] gndk commented on #59
Hi,

any idea how to debug whats going wrong with the transactionstatus processing?

Another detail this morning:

I received a bank transfer payment this morning. This was recognized by Payone through the automatic bank account reconciliation. For this payment I received the "paid" transactionstatus and a invoice was generated and invoice email sent automatically, like I am used to from my other

[2017-03-28 14:44] FatchipRobert commented on #59
The incomplete raw request and the 404 API-Log errors are fixed.

I can't reproduce the "stuck in status running" problem unfortunately.
Would it maybe be possible for you to find out which line makes the cronjob stop working?

The processing_status of the transactionstatus is set to running in the following file:
app/code/community/Payone/Core/Model/Service/TransactionStatus/Execute.php ( line 92

[2017-03-28 15:23] gndk commented on #59
I'll try, however I'm really not that familiar with magento code.

Would it be possible for you to look at this directly on my site? You can invoice me for it of course.

[2017-03-29 07:30] gndk commented on #59
More problems overnight, without changing/touching anything:

1) Transactionstatus is now at least 2-3 hours delayed. For example order played and paid via Paypal at 7:11am. Shows up in transactionstatus log at 9:30am.

2) Order ID field in the transactionstatus "general parameter" section is now empty

3) Order status mapping doesnt work anymore (probably because the order id is empty)

[2017-03-29 07:43] nige-one commented on #59
Can you confirm that the patch by FatchipRobert solves your particular issue of this thread?
(Please do not sum up your issues in one thread if they are not obviously linked to each other.)

[2017-03-29 08:58] gndk commented on #59
Where else should I sum it up? It all revolves around the transactionstatus processing issue.

What I did now is:
- Removed all Payone files
- Installed development branch commit c6d92aa with the changes by FatchipRobert

This solves the 404 in API log and the incomplete raw requests. Those now are complete in the db.

It does not solve the transactionstatus stuck at running, or the recently gone

[2017-03-29 10:08] FatchipRobert commented on #59
It is normal that the mid field is null, this should have nothing to do with the problem.

The store_id and order_id fields are null too at the beginning, those fields are filled during the cronjob is running. So nothing unusual there.

[2017-03-29 10:25] gndk commented on #59
Ok. Can I pay you to help me with this? I dont know how to proceed.

[2017-03-29 12:29] FatchipRobert commented on #59
I added a logging mode for the TransactionStatus cronjob execution.
This needs to be activated in the PAYONE misc config in the admin config.
When activated it will write log messages to the /var/log/payone_cron.log file.

A clean execution of a TransactionStatus would look like this:
2017-03-29T12:13:31+00:00 INFO (6): Started cronjob
2017-03-29T12:13:31+00:00 INFO (6): ID: 103 - Execute - Execut

[2017-03-29 13:24] gndk commented on #59
I added more log messages for smaller steps..

2017-03-29T13:24:01+00:00 INFO (6): Started cronjob
2017-03-29T13:24:01+00:00 INFO (6): ID: 34 - Execute - Execute TransactionStatus action: paid - store-id: 1
2017-03-29T13:24:01+00:00 INFO (6): ID: 34 - Execute - Set status to running
2017-03-29T13:24:01+00:00 INFO (6): ID: 34 - Process - Got order id: 65 store-id: 1
2017-03-29T13:24:01+00:00 INFO (

[2017-03-29 16:20] FatchipRobert commented on #59
Can you find any sort of exception-log or php error-log on your server with any further information?
The script shouldnt just stop without saying anything.

[2017-03-29 16:32] gndk commented on #59
I checked Magento's system.log and exception.log, also /reports folder. Nothing there regarding anything from payone.

Also nothing in nginx error.log and php error.log.. :/

[2017-03-29 17:07] gndk commented on #59
I checked again now found sth in magento exception.log

2017-03-28T22:03:51+00:00 ERR (3):
Payone_Core_Exception_OrderNotFound in /home/cloudpanel/htdocs/www.domain.com/releases/2017_03_28_23_59_45_branch_dev/app/code/community/Payone/Core/controllers/TransactionStatusController.php:63
Stack trace:
#0 /home/cloudpanel/htdocs/www.domain.com/releases/2017_03_28_23_59_45_branch_dev/app/code/local/Mag

[2017-03-29 17:31] FatchipRobert commented on #59
Thats another spot in the process though.
Thats the script thats receives the TransactionStatus from PAYONE and writes it into the DB.
The cronjob would be the following step.

The problem of order id, store id and status not being updated anymore can be explained by the moment of the cronjob dying. They are not being updated, because the order- and the transaction-status object cant be saved for

[2017-03-29 17:46] gndk commented on #59
I did the switch to your changes / the development branch this morning around 11.

The first order_id  and store_id that are NULL in the db table are from yesterday evening. The created at timestamp for the first transactionstatus with order_id null is 2017-03-28 23:05:40 in the db table and shows as 	29.03.2017 01:05:40 in the transactionstatus log in Magento.

So it might be related to the excep

[2017-03-29 18:19] gndk commented on #59
I just noticed something new.

I set all existing transactionstatuses to complete in the db table, to rule out errors from the incomplete raw requests from older orders etc.

Now the cron log for new orders looks different:

2017-03-29T18:08:01+00:00 INFO (6): ID: 345 - Execute - Execute TransactionStatus action: appointed - store-id:
2017-03-29T18:08:01+00:00 INFO (6): ID: 345 - Execute - Set sta

[2017-03-30 06:29] gndk commented on #59
I found sth else in system.log now:

2017-03-30T05:43:01+00:00 ERR (3): User Error: Some transactions have not been committed or rolled back  in /home/cloudpanel/htdocs/www.domain.com/releases/2017_03_30_02_28_47_branch_dev/lib/Varien/Db/Adapter/Pdo/Mysql.php on line 4039
2017-03-30T06:00:01+00:00 ERR (3): User Error: Some transactions have not been committed or rolled back  in /home/cloudpanel/ht

[2017-03-30 08:12] gndk commented on #59
I activated mysql query log for some time. Maybe it helps. I uploaded all log files to https://www.dropbox.com/s/9ycfl4nc0cntpvf/logs.zip?dl=0

[2017-03-30 14:42] FatchipRobert commented on #59
I cant find any new information in there.
The mysql log just shows again that the execution stops while the order is being saved and therefore a rollback of the mysql transaction is happening.

[2017-04-13 07:56] sprankhub opened #64 "Own Implementation of getShippingTaxClass"
In https://github.com/PAYONE-GmbH/magento-1/blob/master/app/code/community/Payone/Core/Helper/Config.php, you have a method `getShippingTaxClassId`, which simply returns the store config from `Mage_Tax_Model_Config::CONFIG_XML_PATH_SHIPPING_TAX_CLASS`. Exactly the same method is available in the Magento core in `Mage_Tax_Model_Config::getShippingTaxClass`. Is there any reason why there is a custom

[2017-04-13 08:22] fjbender commented on #64
I don't see any reason why we would be doing that. It's only ever used in `Payone_Core_Model_Mapper_ApiRequest_Payment_Abstract` and we could use the `Mage_Tax_Model_Config` there, I suppose.

@FatchipRobert any objections?

[2017-04-13 08:23] sprankhub commented on #64
Cool :)

On a related note, could you tell me when `Payone_Core_Model_Mapper_ApiRequest_Payment_Abstract` is used exactly? Thanks!

[2017-04-13 08:25] fjbender commented on #64
[code]

[2017-04-13 09:06] sprankhub commented on #64
Hence, the shipping tax class is transmitted to PAYONE? Then the wrong shipping tax class is currently transmitted. Is this a severe issue? Not sure how the shipping tax class is used on the PAYONE side...

[2017-04-13 09:11] fjbender commented on #64
Payone doesn't really need the tax class, only the tax rate will be transmitted:

[code]

It's used for instance when Payone generates a PDF invoice.

[2017-04-14 08:21] chris1879 opened #65 "payone_api returns allways reference number allready exists and throws exception"
Hi!

I am using magent 1.8.1 and the payone extension 3.7.6.
After testing  payments the following issue occurs during payment:

[2017-04-13 22:53:51] INFO - status=ERROR|errorcode=911|errormessage=Reference number already exists|customermessage=Bei der Bearbeitung dieser Transaktion ist ein Fehler aufgetreten (Falsche Parameter).|rawResponse_status=ERROR|rawResponse_errorcode=911|rawResponse_erro

[2017-04-14 08:24] fjbender commented on #65
Hi Chris,

This is not an issue with the module. The order number has to be unique on your Payone account. Set the starting order number to a higher value as described in this Stackoverflow thread: http://stackoverflow.com/questions/9419592/how-to-change-order-starting-number-in-magento

Best
Florian

[2017-04-14 08:24] #65 closed

[2017-04-21 06:18] Elfen-Service opened #66 "Fatal error: Uncaught Error: Call to a member function hasForcedState() on boolean"
Hello,

if i see this correct, this happens to orders with payment method creditcard.

`Fatal error: Uncaught Error: Call to a member function hasForcedState() on boolean in app/code/core/Mage/Sales/Model/Order/Invoice.php:415
Stack trace:
#0 app/code/community/Payone/Core/Model/Observer/TransactionStatus/InvoiceCreate.php(98): Mage_Sales_Model_Order_Invoice->pay()
#1 app/code/core/Mage/Core/Model

[2017-04-21 12:00] fjbender commented on #66
Hi,

I'm not quite sure I understand the issue you've found here. On what event does the `hasForcedState()` error exactly occur? The invoice is generated as soon as the `APPOINTED` Transaction Status comes in and the cronjob is run.

[2017-04-21 12:25] Elfen-Service commented on #66
Hi,

the postet message is an exception that occurs while the cronjob is running after the system got the paid transaction from PayOne.

Just now i looked into the code `app/code/core/Mage/Sales/Model/Order/Invoice.php:415` ...
So the error occures because of an not existing invoice for the order ...

I checked an order of today where no invoice was created (as always):
1) ordered @ 11:05:51
2) ap

[2017-04-24 06:30] fjbender commented on #66
I wanna take a look into our logs to see if I can reproduce the issue here - please send me some details on that very transaction (mid, txid) to integrations@payone.de.

Thanks for your cooperation.

[2017-04-24 13:08] fjbender commented on #66
Solution: @Elfen-Service has mapped the Payone status `APPOINTED` on the Magento status payment_review, which resulted in `$order->canInvoice()` being false and the invoice not being created. Using another Magento state like pending_payment works.

[2017-04-24 13:08] #66 closed

[2017-05-23 11:10] jhoelzl opened #71 "New Release"
60 new commits since Release v3.7.6 - would be nice to make a new release tag. Thanks!

[2017-05-23 11:11] fjbender commented on #71
We're currently working on it. There's some major changes coming up from the development branch as well, so we still need some time for testing.

[2017-06-06 11:30] pawelwaniek opened #76 "getConfigData uses quote"
the magento core getConfigData() doesn't require the quote, because the configs are loaded from the core_config_data. But in this module are some cases where to configs are loaded from the quote e.g. "sort_order". In that case the quote is loaded for every payment method and can cause some performance issues e.g. the "custom_quote_process" event is fired every time.

My suggestion is to add the qu

[2017-06-07 05:59] fjbender commented on #76
To me this sounds like a good idea.

@FatchipRobert can you confirm that this has no unintended side effects? Cf. https://github.com/PAYONE-GmbH/magento-1/compare/development...pawelwaniek:config-quote

[2017-06-07 07:39] pawelwaniek opened #77 "paypal reference transaction / recurring payment"
For implementing a recurring payment for paypal I was told by PAYONE to set the payment parameters "recurring" and "customer_is_present".
Unfortunately this is not possible, because the properties doesn't exists in the Library (Payone_Api_Request_Parameter_Authorization_PaymentMethod_Wallet)
I know this feature is not supported yet, but without the properties it's impossible to implement it even b

[2017-06-08 06:56] fjbender commented on #77
I guess it would just be the easiest (and fastest) way just to add the needed properties to `Payone_Api_Request_Parameter_Authorization_PaymentMethod_Wallet` and see if it works :smile:

[code]

If that doesn't work I'd like to take a look again.

[2017-06-12 11:28] fjbender commented on #71
Release v3.7.8 was finished today.

[2017-06-12 11:28] #71 closed

[2017-06-12 11:28] fjbender commented on #53
Fixed with Release v3.7.8

[2017-06-12 11:28] #53 closed

[2017-06-19 17:03] pawelwaniek commented on #77
After clarification with PAYONE the parameter is called "recurrence" not "recurring"

PR is created: https://github.com/PAYONE-GmbH/magento-1/pull/80

[2017-06-19 17:17] #76 closed

[2017-06-26 10:41] KaiBroenstrup commented on #8
Hallo,
dieser Fehler scheint nicht behoben. Taucht jetzt in unserem DEV Shop jedesmal auf. Min/Max Values habe ich schon vergeben. Gibt es irgendwelche News wie man den Fehler fixen kann?

Danke

[2017-06-26 12:28] fjbender commented on #8
Moin @KaiBroenstrup,

bisher gibt es noch keine definitive Lösung. Vielleicht hilft es, die Konfiguration einmal mithilfe unseres Technical Support prüfen zu lassen: +49 431 25968-500 oder tech.support@payone.de

[2017-06-26 12:42] KaiBroenstrup commented on #8
Hi,

durch löschen aller Zahlungsarten und neu anlegen scheint es erstmal wieder zu gehen.

Danke vorerst

[2017-06-27 13:29] fjbender commented on #64
@sprankhub Can you take a look at #84 and see if this fits your needs?

Cheers
Florian

[2017-06-27 14:59] sprankhub commented on #64
Looks good :+1: Thanks!

[2017-06-28 05:24] fjbender commented on #64
Fixed with #84

[2017-06-28 05:24] #64 closed

[2017-06-28 10:56] KaiBroenstrup commented on #8
Hi @fjbender - doch kein Erfolg. Problem ist wieder da. Das löschen aller Zahlungsarten und neu anlegen hat auch nicht funktioniert. Sobald ich mehr als 1 Payone Zahlungsart habe bekomme ich im Checkout den Fehler.
Wie kann ich das lösen?

danke

[2017-06-28 11:04] fjbender commented on #8
@KaiBroenstrup das Problem trat leider vorher auch schon auf - einen kausalen Zusammenhang mit dem letzten Update schließen wir aus.

Wir würden den Fall trotzdem gerne mal näher betrachten, bitte unter Verweis auf diesen Vorgang hier einmal Kontakt mit dem Technical Support, Kontaktdaten siehe oben, aufnehmen, dann können wir die Konfiguration nochmal im Detail durchsehen.

Danke
Florian

[2017-06-28 15:22] mediaimprove commented on #8
Ich schließe mich hier @KaiBroenstrup an. Problem existiert auch bei uns seit Version 3.7.8 mit Magento 1.9.3.3. Testumgebung wurde mehrfach komplett neu mit Version 3.7.6 installiert, hier tritt das Problem nicht auf. Technical Support ist informiert.

[2017-07-06 07:13] tniebergall commented on #35
Hi,

do you use a delete order module in these projects or migrated any kind of data?
We had a similar case on one of our staging systems, were the order tables where cleaned but the payone tables stayed untouched.

[2017-07-06 07:20] sprankhub commented on #35
No migration and no order deletion - at least not since one or two years. Maybe orders have been deleted before - not sure about that. Could that still be the reason? What would I need to check? Thanks!

[2017-07-11 17:12] Schrank commented on #77
PR #80 is merged, this ticket can be closed.

[2017-07-11 19:24] fjbender commented on #77
Fixed with #80

[2017-07-11 19:24] #77 closed

[2017-07-12 00:47] Schrank opened #85 "credit card payment doesn't work"
Sorry for posting in german, it is too late to translate it :-/

Ich habe heute Payone auf die Version 3.7.7 in unserem Magento 1 aktualisiert. Seit dem funktioniert die Kreditkartenzahlung nicht mehr und wenn ich die Kreditkartendaten ausfülle werde ich, beim Abschicken des Payment-Steps, immer wieder auf die Warenkorbseite zurück geworfen.

Das Problem konnte ich einkreise, verstehe aber nicht w

[2017-07-12 05:14] fjbender commented on #85
Moin,

ich vermute hier ein Duplikat von #8. Kannst du das bestätigen?

[2017-07-12 05:50] fjbender commented on #8
Moin zusammen,

kann jemand bitte einmal schauen, ob das Problem auch auftritt, wenn die "payone_customer" Tabelle geleert wurde? Ich vermute, dass hieraus alte Daten zum Laden der Payment Method Config herangezogen werden.

[2017-07-12 09:26] Schrank commented on #85
Die Stelle ist eine Andere.

Und leider fehlt die erste Zeile, keine Ahnung warum die nicht mit rauskommt, ich denke aber das ist sowas wie:

`Uncatched Payone_Core_Exception_PaymentMethodConfigNotFound on pub/app/code/community/Payone/Core/Model/Observer/Checkout/Onepage/MultiplePaymentCheck.php:275`

[code]

[2017-07-12 09:30] Schrank commented on #85
Aber ich halte das Problem für das gleiche oder sehr ähnlich.

Wenn mir jemand erklären mag, wie unter normalen Umständen, dieses Feld befüllt wird:
https://github.com/PAYONE-GmbH/magento-1/blob/master/app/design/frontend/base/default/template/payone/core/payment/method/form/creditcard.phtml#L139-L140

Wühle ich auch gern selbst, aber das kommt meiner Meinung nach aus

    \Payone_Core_Block_Payme

[2017-07-12 10:17] Schrank commented on #85
Fehler gefunden.

Falls das Problem jemals wieder jemand haben sollte, bei uns war das Tempalte überschrieben:

    pub/app/design/frontend/base/default/template/payone/core/checkout/onepage/init.phtml

Da fehlte der Part:

    document.observe('dom:loaded', function () {
        payone.form = payment.form;
        payment.save = payment.save.wrap(
                function (origMethod) {

[2017-07-12 10:17] #85 closed

[2017-07-20 08:37] domeglic opened #89 "Errors for customers are not displayed and logged into exception.log"
The errors meant for the customer (ex. wrong IBAN) are not displayed to the customer. They just get a generic "Something is wrong" error. Is this the desired behavior?
[Here the response with an error message is received and will be thrown as an exception](https://github.com/PAYONE-GmbH/magento-1/blob/master/app/code/community/Payone/Core/Model/Service/Payment/Abstract.php#L90)
 [Here the response

[2017-07-20 08:55] T-Kuchel commented on #89
We have decided to use a generic errormessage, because of the fact that not every errormessage is for the eyes of the customer.
i.e. 'creditcard payment declined, because of fraud.'

This message openes the door for everyone who wants to 'cheat'.

To answer your question:

Yes, it is...

[2017-07-20 08:57] fjbender commented on #89
However, one could argue that messages like this should be `Mage_Payment_Model_Info_Exception` instances to avoid spamming the exception log.

[2017-07-21 06:34] domeglic commented on #89
I see, thank you.

[2017-07-21 06:34] #89 closed

[2017-07-24 16:13] branb commented on #8
@fjbender
Da ich die Extension frisch installiert habe, ist die Tabelle _payone_customer_ bei mir bereits leer.

Die Fehlermeldung mit dem neuesten Commit #87 lautet jetzt übrigens:

[2017-07-25 06:42] fjbender commented on #8
@branb alles klar, vielen Dank. Dann müssen wir in andere Richtung weiter suchen.

[2017-08-01 09:51] domeglic opened #91 "Can't create creditmemos for advance payment"
I am using a test account to test advance payment and there seems to be a problem with refunds.
When trying to create a creditmemo it will throw an exception.
API log says: 907 - Sequence no incorrect

I was told by tech support that the problem is because sequencenumber should be 2 instead of 1 if Authorization is used (Instead of Pre-Auth). This seems like a bug to me.

Magento: 1.9.2.4 (empty,

[2017-08-01 11:16] T-Kuchel commented on #91
Hi domeglic,

please write us to integrations@payone.de.
To investigate on this issue in the right and proper way we need informations like your MID (merchant id).
I am really sure that you don't want to share this with the whole community ;)

best regards

[2017-08-04 09:46] tniebergall commented on #35
Know we have the same behavior for some orders the method is set to payone_wallet_paypal_express but the payone_config_payment_method_id points to the wrong configuration.

You can get the affected orders with the following query. You have to set your Ids for the paypal config from payone_config_payment_method

`SELECT * FROM `sales_flat_order_payment` WHERE `method` LIKE 'payone_wallet_paypal_exp

[2017-08-07 08:01] sprankhub opened #95 "Massive Number Of Payone_Core_Exception_OrderNotFound"
When Magento is not your only source of PAYONE transactions, the `exception.log` gets filled with entries like this:

    2017-07-30T20:00:07+00:00 ERR (3):
    Payone_Core_Exception_OrderNotFound in /var/www/share/shop/htdocs/app/code/community/Payone/Core/controllers/TransactionStatusController.php:63
    Stack trace:
    #0 /var/www/share/shop/htdocs/app/code/core/Mage/Core/Controller/Varien/Ac

[2017-08-07 14:57] fjbender commented on #95
I guess it'd probably be easier to not throw an OrderNotFound exception everytime. However, these can be quite useful when finding configuration problems, so I'd rather not remove it.

Probably it'd be best to circumvent this issue somehow, e.g. by using transaction status forwarding mechanisms in either Shopgate or Magento. Or you could write an interceptor receiving the transaction status notifi

[2017-08-07 15:14] sprankhub commented on #95
Of course I could "hack" the extension for this project to ignore these issues, but I do not think this is a good solution. And as said, all customers using PAYONE and Shopgate have this issue.

Interesting idea with the transaction status forwarding, but how could that look like?

[2017-08-07 15:27] fjbender commented on #95
For this to work Shopgate needed to have the transaction status forwarding feature as well - which they unfortunately don't afaik - and be more tolerant about which order the tx status message refer to, so this won't work.

As this is quite a minor issue I won't be able to assign anybody to it right now. As I see it, there are three options to fix this issue:
1) You build a tx status interceptor s

[2017-08-07 16:38] sprankhub commented on #95
As a first step, I extended the exception message - see #97.

In a second step, I consider creating a PR for handling this issue. But I would simply check if there is a Shopgate order with the given reference and would not throw an exception then. Does that sound good? I would of course check whether the Shopgate extension is installed.

[2017-08-08 05:49] fjbender commented on #95
Thanks for #97.

Your plan sounds good to me :)

[2017-08-08 05:51] #91 closed

[2017-08-09 08:23] #95 closed

[2017-08-23 13:26] Affenpilot opened #103 "Testsystem behind a proxy"
Greetings,
We are running a Magento 1.9.3.2 test system behind a proxy environment.  I know that I can enable the Proxy-Mode in the global properties of the payone module, but it doesn´t work.
After debugging, I find out that the function `doRequest` in the `Payone_Api_Adapter_Http_Curl` class was the problem.
So I added our custom proxy settings in the curl options with hardcoded settings:
`curl_

[2017-08-23 16:15] fjbender commented on #103
The "proxy mode" is somewhat misleading, it is concerned with receiving the transaction status notification from our systems.

I think, however, that this is quite an edge case and I can't really dedicate resources to that right now. I'll put this on this wishlist. If you have an idea how to solve this elegantly, pull requests are very welcome! :)

Cheers
Florian

[2017-08-28 08:50] Affenpilot commented on #103
Hi florian,

I want to create a pull request for this issue but I get a permission denied.
can you help me about this misstake?

[2017-08-28 09:03] fjbender commented on #103
Hi,

you'll have to fork our module on github and then create the pull request in the github web interface. We then can test and review it and merge it into master. You can't push directly to our repository. See: https://gist.github.com/Chaser324/ce0505fbed06b947d962

Thanks for your contribution! :)

[2017-08-28 13:21] Affenpilot commented on #103
sorry for the confusing second commit. I selected the wrong branch. This was the reason for the revert commit.

[2017-08-29 12:47] bambamboole opened #107 "ratepay.js same function name like Ratepay Magento Extension"
We just had the problem that the function `ratepayRateCalculatorAction` in the `ratepay.js` file is the same like in the Original Ratepay Magento Extension and the file is also loaded when Ratepay by Payone isn't activated.
It's bad practice to define non prefixed global javascript functions.
That issue breaks the checkout if you are using the normal Ratepay Magento Extension next to the Payone Ma

[2017-09-20 07:15] sprankhub commented on #35
This is exactly my issue @tniebergall. I have 2033 (!) such weird payments in the database. This really needs to be solved. The issue is even worse, because it seems that the payment updates are not correctly transferred to the shop then.

[2017-09-22 09:15] cuprumova opened #109 "Repeated / recurring authorization"
Hello,

could you please advice how could i implement repeated / recurring authorization for some old orders? My purpose is to have possibility to invoice such orders later that in the allowed by default time period (for Paypal 29 days, for credit cards 7-28 days)? Is it possible to use some existing method of some existing Payone module class, passing there order parameters?

It's not possible to

[2017-09-25 06:05] fjbender commented on #109
We didn't really design the Magento integration with this use case in mind. I guess for some payment methods, you can just recreate the authorization (for instance with credit card using the pseudocardpan), but for others that require user authentication it's not possible (e.g. PayPal).

You'd just grab the pseudo card data from somewhere and then build a new authorization using the service factor

[2017-09-27 08:54] cuprumova commented on #109
Hi Florian,

thank you for your answer!

Where could i find more information about pseudocardpan? Technical documentation information.

Thank you,
Anastasia.

[2017-09-27 10:31] riconeitzel commented on #35
we do have this issue as well … but no order deletion or migration system (not that we are aware of).

[2017-09-27 14:32] fjbender commented on #109
For some basic infos, see: https://github.com/fjbender/simple-php-integration

If you contact me at integrations@bspayone.com I'll send you the full API docs.

[2017-09-27 14:32] #109 closed

[2017-10-05 10:09] cuprumova commented on #109
hi Florian,

thank you! Sorry for the late answer. It could be i need more information not only about this topic, i will send question then directly to this email address.

Regards,
Anastasia.

[2017-10-05 12:50] riconeitzel commented on #35
any news here? @tniebergall @sprankhub @FatchipRobert

[2017-10-06 09:34] Celldweller commented on #35
We do have this issue as well. Orders which were paid by Paypal are marked as Cash on Delivery and - to make things worse - CoD charge is added too.

[2017-10-06 09:59] tniebergall commented on #35
We've this issue as well and I'm in the process of finding a case to reproduce this issue. @riconeitzel  and @Celldweller could you execute this  [query](https://github.com/PAYONE-GmbH/magento-1/issues/35#issuecomment-320207160) an send me the percentage of affected orders related to all orders?

[2017-10-06 10:05] riconeitzel commented on #35
[code]

qty|method|config_id
--|--|--
754|payone_creditcard|3
272|payone_online_bank_transfer|7
18|payone_online_bank_transfer_sofortueberweisung|15
5|payone_safe_invoice|11

Your query as is will return 0 rows.

[2017-10-06 10:19] tniebergall commented on #35
Then we have multiple issues here. My query collects orders where the config id an method differ for paypal.
Does you query show all available methods? Because paypal is missing.

[2017-10-06 11:35] Celldweller commented on #35
method | config_id
--------- | ------
payone_advance_payment | 6
payone_cash_on_delivery | 9
payone_creditcard | 12
payone_debit_payment | 15
payone_wallet | 3

The query would not get a result for me as well like @riconeitzel . Here are my `config_id` values and the methods we use. Paypal is `payone_wallet`

[2017-10-06 11:38] tniebergall commented on #35
@Celldweller which magento and payone version is installed in your store?

[2017-10-06 11:59] riconeitzel commented on #35
qty|method|config_id
--|--|--
426|bankpayment|0
1|checkmo|0
44|free|0
754|payone_creditcard|3
272|payone_online_bank_transfer|7
18|payone_online_bank_transfer_sofortueberweisung|15
5|payone_safe_invoice|11
118|payonpickup|0
2606|paypal_express|0
141|phoenix_cashondelivery|0
113|vaimo_klarna_invoice|0

Here are all payment methods @tniebergall

[2017-10-06 14:11] Celldweller commented on #35
Magento CE 1.9.3.1 and Payone 3.7.8

[2017-10-23 09:46] fjbender commented on #107
This should be fixed in #115. Can you confirm?

[2017-10-23 12:37] #107 closed

[2017-11-10 07:35] loswochos opened #119 "Orders sometimes stuck with processing status "running""
Since I patched our Magento 1.9.3.1 with SUPEE-10266 we have a strange issue with Payone. Shop orders (we are using paypal and credit card) stuck with status "running" in the transaction log (and "pending" in magento). This happens only sometimes and very unspecific (maybe 1-2 times a week). I can't find any connection between these orders.

At the moment I have to manually set the processing_stat

[2017-11-10 11:56] rofthedeep commented on #119
Hi, we are getting similar problems since we updated our payone extension (Release v4.0.1) on monday. At the moment we are running Magento Version 1.9.3.1. We didn't install SUPEE-10266 yet.

We are getting these errors: Call to a member function hasForcedState() on boolean in  /app/code/core/Mage/Sales/Model/Order/Invoice.php on line 415

At the moment the problems occur with paypal and creditcar

[2017-11-10 22:47] loswochos commented on #119
@rofthedeep

I've checked the magento system.log and apache/php error log and can't find an error like yours. But I can confirm the entries in the payone_protocol_transactionstatus table:

`Payment method configuration with id "14" not found.`
`Payment method configuration with id "15" not found.`

So it seems to be the same problem.

[2017-11-12 17:51] Schrank opened #120 "Unset RatePay shopId/config crashes shop"
When RatePay is as a payment type activated, but no shopID is set, then no rate_pay_config is saved to database and therefore

https://github.com/PAYONE-GmbH/magento-1/blob/master/app/code/community/Payone/Core/Model/Payment/Method/Ratepay.php#L230

returns `null` instead of an array.

Unfortunately

    Warning: Invalid argument supplied for foreach()  in /var/www/app/code/community/Payone/Core/M

[2017-11-13 12:35] rofthedeep commented on #119
@loswochos
This commit seems to cause the problem:
https://github.com/PAYONE-GmbH/magento-1/commit/c4a433197428f563ad9d4ee1879efc3065281401#diff-b3fbdec37d55ddbe95e434e1d88e0c5a

With setting the store id to 0 we don't get the problem in our tests ...

[2017-11-13 12:49] fjbender commented on #119
Guys, thanks for your feedback. As you can see from e.g. #35 we do seem to have a problem with orders being weird "sometimes" and haven't found a way of reproducing it systematically yet.

@rofthedeep
With c4a433197428f563ad9d4ee1879efc3065281401 we tried to fix a bug where a wrong config was loaded from the cache when there were multiple payone configurations for different stores. However, I'm no

[2017-11-13 12:51] fjbender commented on #120
We'll make the Shop-ID mandatory so the payment method can't be saved incorrectly.

[2017-11-13 13:13] rofthedeep commented on #119
@fjbender no problem :)

In our stores the payment_id switched between the values for the website and the values from the store (for example Credit Card):
![bildschirmfoto 2017-11-13 um 14 01 51](https://user-images.githubusercontent.com/2420176/32726986-4026e5fe-c87b-11e7-895d-19669b251a05.png)

The order has the payment id 45, the object loaded the payments based ob the website - so the object c

[2017-11-13 15:51] fjbender commented on #119
For the time being, I'll have to bet on this issue being "accidentally" fixed when we fix #35 and/or #8. I don't have any angles to work on this issue that aren't discussed in the other issues, I'm afraid.

[2017-11-15 08:57] loswochos commented on #119
@fjbender

Do you have a timeline until when the issues will be resolved?

[2017-11-15 09:28] fjbender commented on #119
@loswochos Unfortunately, I don't. @tniebergall is working on the other issues as well, he'll post an update as soon as he finds out what this all is about.

[2017-11-17 20:04] tniebergall commented on #119
@loswochos @rofthedeep could you send me a dump of the payone_config_payment_method, payone_protocol_api table and some orderIds of affected orders?

[2017-11-22 13:06] riconeitzel opened #121 "Einzelartikelübermittlung: Rundungsfehler am Beispiel RatePay"
Hallihallohallöchen,

wir haben aktuell das Problem, dass bei Bezahlung via RatePay die Einzelartikel übertragen werden müssen. Die interne Berechnung von Magento funktioniert dabei bekanntermaßen weitläufig mit 4 Nachkommastellen, was zu teilweise eklatanten Rundungsfehlern führen kann.

Wir haben dazu ein entsprechendes PDF mit Musterrechnungen erstellt: http://r.b71a.de/D4TpJ56VZd.pdf

Die link

[2017-11-22 15:07] fjbender commented on #121
Moin,

danke für die ausführliche Reproduktion und Analyse. Das hilft uns sicherlich, das Problem einmal grundlegend anzugehen.

Wir müssen nur mal schauen, welche Lösung da nachher gangbar ist.

Ich finde Lösung A grundsätzlich sehr charmant und würde die bevorzugen. Ich habe da allerdings die Befürchtung, dass wir damit eine riesige interne Story aufmachen und mit Fertigstellung in einem nicht a

[2017-11-22 16:01] Celldweller commented on #121
Ratepay sagte mir heute im Telefonat, dass sie von vornherein eine Toleranz von 3 Cent berücksichtigen. Das Problem scheint hier also derzeit eher das Payone-Modul zu sein, dessen Toleranz vermutlich 0 ist.

Zu Lösung B:
Grundsätzlich kann ich als Händler ansonsten nur davon ausgehen, dass Ratepay ein großes Interesse daran hat, dass der Workflow reibungslos funktioniert. Vielleicht ist Ratepay hi

[2017-11-23 07:13] fjbender commented on #121
Das ist gut zu wissen. Ich prüfe die Lösung B mal mit unseren Plattform-Gurus.

[2017-11-24 07:15] fjbender commented on #121
Ich habe die Methode B mal mit Product und der Entwicklung evaluiert. tl;dr: Plattformseitig können wir kurz- und mittelfristig nichts machen und müssen uns auf eine Lösung "vor" unserer API konzentrieren.

Zum Hintergrund: Natürlich sind auch wir an einem reibungslosen Workflow beim Händler interessiert. Die Regel an unserer API ist aber relativ einfach: Der übergebene Warenkorb muss zum übergebe

[2017-11-25 10:30] Schrank commented on #121
@fjbender MID finde ich leider nicht. Da es keine Bestellung gibt, gibt es keine Transaktionen und die MID scheint weder in der Quote-Tabelle noch sonst irgendwo zu finden sein.

Was ich anbieten kann:
Timestamp: 2017-11-22 18:06:55
Reference: STAGEBT-6394852
Der Käufer dürfte "Fabian Blechschmidt" sein.

Ich schick dir gleich noch ne Mail mit dem Log Eintrag.

Schönes Wochende!

[2017-11-27 07:45] fjbender commented on #121
Moin,

danke für den Log-Eintrag. Ich habe die Transaktion rausgesucht und sehe dort folgendes Bild:

[code]

Die Positionen 1-3 sind "normale" Artikel, Position 4 ist der Versand und Position 5 ist ein Gutschein o.ä. Summiere ich die Artikelpositionen bekomme ich einen Gesamtwert der Bestellung von 10417 Cent, es werden aber nur 10416 Cent übermittelt. Die Einzelpreise der Artikel sehen für mich

[2017-11-28 13:07] Schrank commented on #121
Das ist ein 15% Gutschein, der mit vier Nachkommastellen innerhalb Magentos das Rundungsproblem verursacht.

Die Rundungsprobleme in Magento können wir leider nicht ohne weiteres lösen.

[2017-11-28 14:31] fjbender commented on #121
Hmmja. Aber damit wissen wir immerhin, dass "normale" Artikel in eurem eigentlich kein Problem Problem sind. Oder hat @riconeitzel da noch etwas in Petto? In Ricos Beispiel war ja auch die Vermutung, dass die regulären Artikelpositionen auch falsch übertragen werden, dafür hätte ich gern idealerweise dann auch nochmal ein Beispiel.

Wir könnten uns also beim "Reparieren" des Warenkorbs auf Warenkö

[2017-11-28 14:48] Schrank commented on #121
Ich Unterstelle, alles was prozentual gerechnet wird, macht ggf. Probleme, d.h. Custom Options, Bündelprodukte(?), Rabatte auf Artikel und Warenkörbe, Versandkosten die Prozentual berechnet werden

[2017-11-28 15:38] rofthedeep commented on #57
We are getting the same problems in combination with the OneStepCheckout Plugin ... the checkout breaks from existing customers with the following message:

`a:5:{i:0;s:50:"Die angeforderte Zahlungsart ist nicht verfügbar.";i:1;s:5099:"#0 /var/www/web101/htdocs/releases/20171123151913/html/app/code/core/Mage/Payment/Model/Info.php(82): Mage::throwException('Die angefordert...')`

[2017-12-12 09:27] fjbender commented on #121
Die Vermutung habe ich auch. Ich bräuchte trotzdem noch Feedback von dir @riconeitzel, ob bei regulären Artikelpositionen auch noch etwas schief geht.

[2017-12-12 12:26] Backenkoehler commented on #119
We have the same problem since we upgraded to 1.9.3.6 in October. Right now we change the status from running to pending and in the next batch / cronjob run the orders are getting processed. Seems like a bit odd.

Any suggestions what we can do here?

[2017-12-13 14:22] sebastianwindau opened #131 "getSelectedMethodCode() function causing error for logged in users: The requested Payment Method is not available."
If we change our available payment methods, we getting an Error through the Function` getSelectedMethodCode()` in `Payone/Core/Block/Checkout/Onepage/Payment/Methods.php` if a User is logged in going to the checkout. :

app/code/core/Mage/Payment/Model/Info.php(82): Mage::throwException('The requested...')

The error is triggered when `->getMethodInstance()` is called, because it is possible that

[2017-12-13 14:52] sprankhub opened #132 "Unused / Unnecessary Code"
The support just told us that direct authorization is not supported for advance payment. Hence, the observer [`payone_core/observer_transactionStatus_invoiceCreate::onPaid`](https://github.com/PAYONE-GmbH/magento-1/blob/9b2292d9acdec88a7d0ada9d8bb8d33a82fbd919/app/code/community/Payone/Core/Model/Observer/TransactionStatus/InvoiceCreate.php#L82) should be removed completely. Because this observer

[2017-12-14 07:56] fjbender commented on #119
@Backenkoehler unfortunately, this issue is currently somewhat of a mystery and we have no workaround other than manually "freeing" the order.

[2017-12-14 11:43] gndk commented on #12
Problem not fixed. Fresh installation of Magento 1.9.3.7 and Payone 9b2292d

Same error.

"Es ist ein Fehler aufgetreten
Bei der Verarbeitung Ihrer Zahlung ist leider ein Fehler aufgetreten. Bitte kehren Sie zum Shopsystem zurück.

Der übergebene Input-Hash stimmt nicht mit dem von uns berechneten Input-Hash überein. Wenn Sie der Shopbetreiber sind, überprüfen Sie bitte, ob das in Ihrem Shopsystem

[2017-12-14 14:57] Schrank commented on #121
Schlimmer. Wir haben einen reproduzierbaren Fall mit fixem Rabatt:
2x Artikel 12€, Versandkosten 3€, Rabatt -33€ Gesamt: 24€.

Wir erzeugen zwei Rechnungen, die erste sollte 12+3-1,5€ sein = 13,5€, wird auch als amount übertragen und die Produkte 1200, 300, -151 - BUMS kaputt.

Gleiches gilt auch bei Gutschriften, wenn man nur eine Rechnung erzeugt :-/

Bisher habe ich keinen Fall für Artikelposit

[2017-12-14 18:27] gndk commented on #59
I finally "solved" this by doing a completely new install.

[2017-12-14 18:27] #59 closed

[2017-12-15 14:24] Backenkoehler commented on #131
Same as #57 ? It says closed, but it seems it isnt.

[2017-12-18 07:23] fjbender commented on #131
I suppose this occurs when you change the payment configuration and the id of the payment config that is saved as the user's default payment method is not available anymore. I guess you could check whether the both mentioned methods return `NULL` and revert to the global default payment method.

[2017-12-21 08:30] fjbender commented on #132
I don't think we should remove it completely. As I see it, the `onPaid` observer also is concerned with authorization payments other than advance payment and marks the invoice as paid.

[2017-12-21 08:37] fjbender commented on #12
@gndk I just tested the same revision in a fresh 1.9.3.7 and can successfully process a Sofort transaction. Please contact our Technical Support Team to gather more details about this issue.

[2017-12-21 08:54] sprankhub commented on #132
Ah sorry, you are right. It indeed does other things as well. But at least it should be updated. It says "Advance Payment create Invoice if request-type is authorization", which is not supported as the support told me... But it would definitely be nice if there was an option to authorize advance payment orders directly, so that an invoice is created automatically...

[2017-12-21 08:57] fjbender commented on #132
Advance Payment authorization has to be introduced on our platform first. I suppose once it's there, we'll need the code in this observer again, so I'd rather not remove it now just to re-implement it when the authorization feature is available for Advance Payment again.

[2017-12-21 17:17] gndk opened #136 "Konfiguration Amazon Pay: Client-ID und Seller-ID werden nicht gespeichert"
Nach dem Klick auf "Get configuration" werden die beiden read-only Felder für Seller-ID und Client-ID nicht befüllt.

Zahlungart ist sowohl bei Amazon als auch Payone live geschaltet.

Im payone_api.log werden beide Werte korrekt zurückgeliefert, aber eben nicht gespeichert.

Kann ich die Daten irgendwo manuell eintragen, um weiter zu testen?

Magento 1.9.3.7 + Payone 79c954b

[2017-12-21 17:20] gndk commented on #136
[2017-12-21 17:09:38] INFO - add_paydata[action]=getconfiguration|aid=36XXX|api_version=3.10|backurl=|clearingtype=wlt|currency=EUR|customer_is_present=|encoding=UTF-8|errorurl=|integrator_name=magento|integrator_version=1.9.3.7|key=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx|mid=27XXX|mode=live|paydata=|portalid=2020XXX|recurrence=|request=genericpayment|solution_name=fatchip|solution_version=4.1.0|successu

[2017-12-21 17:32] gndk opened #137 "Konfiguration Amazon Pay: Test/Sandbox Modus funktioniert nicht"
Wenn in der Payone Konfiguration "Mode: Test" ausgewählt ist, erscheint im payone_api.log folgende Fehlermeldung wenn der "Get Configuration" Button geklickt wird:

[2017-12-21 16:44:23] INFO - add_paydata[action]=getconfiguration|aid=36XXX|api_version=3.10|backurl=|clearingtype=wlt|currency=EUR|customer_is_present=|encoding=UTF-8|errorurl=|integrator_name=magento|integrator_version=1.9.3.7|key=xx

[2017-12-22 09:48] fjbender commented on #136
Die Daten sollten in der `payone_config_payment_method` Tabelle gespeichert werden (Spalten `amz_client_id` und `amz_seller_id`).

Allerdings sollten die natürlich auch nach einem Klick auf "Get Configuration" gespeichert werden. Irgendeine Exception o.ä.?

[2017-12-22 09:50] fjbender commented on #137
Das ist sehr wahrscheinlich kein Problem des Moduls, sondern der Konfiguration auf unserer Seite. Bitte kontaktiere den Merchant Service, der sollte dir hier weiterhelfen können.

[2017-12-22 09:50] #137 closed

[2017-12-22 10:05] gndk commented on #136
Nein, eine Exception gab es nicht.

Aber da haben wir das Problem.. Diese Spalten hatte ich gar nicht in der Tabelle. Genauergesagt hatte ich gar keine der Amazon Pay Spalten die über die upgrade-3.7.8-3.8.0.sql eingefügt werden sollten. Ich habe die upgrade-3.7.8-3.8.0.sql jetzt manuell über Phpmyadmin laufen lassen, allerdings vorher die Tabellen-Namen angepasst, weil ich ein Tabellen-Prefix nut

[2017-12-22 10:14] fjbender commented on #136
Wir haben im aktuellen master auch noch einen Bug mit dem Setup-Script, da sind wir aber dran.

Amazon klappt nur mit den Buttons im Warenkorb.

[2017-12-22 10:14] #136 closed

[2017-12-22 12:51] gndk opened #138 "Amazon Pay & Facebook Inapp Browser vertragen sich nicht"
"Browser not supported. This Browser is not supported. Open this page in your device's browser to use your Amazon account, or return to the site to continue to XXX without using your Amazon account."

Wäre ja auch zu schön gewesen... Schade, da für viele Shops Facebook einen signifikanten Anteil des Traffics ausmacht und Amazon Pay vor allem für mobile Conversions wie gemacht ist.

Ich habe den Am

[2017-12-22 13:01] fjbender commented on #138
Das klingt für mich erstmal eher nach einer Meldung von Amazon als von uns - ich bin mir nicht sicher, ob wir das beeinflussen können. Leider kann ich das bei mir grad nicht testen, da sich der Facebook InApp Browser weigert, eine Verbindung durch das VPN zu unseren Testshops herzustellen.

Habe das aber mal grade mit Thomann ausprobiert und da bekomme ich im InApp Browser vom Facebook Messenger n

[2017-12-22 13:04] gndk commented on #138
Ja ist eine Meldung von Amazon und Ihr habt keinen Einfluss drauf. Nur für die User Experience wäre es eben besser wenn die Zahlungsart dann gar nicht angeboten wird.

Ja, mache ich gleich.

[2017-12-27 10:03] gndk opened #140 "Amazon Pay Button on checkout/cart always in Test-Mode"
Because the JS URL is hardcoded in the shortcut.phtml template. I created a pull request #139

[2017-12-27 17:52] gndk commented on #138
PR #143

[2018-01-02 13:29] KaiH1980 commented on #8
Gibt es dazu eine Lösung? Wir haben in einem Testsystem das gleiche Problem (Payment method configuration with id "" not found.)
Trotz angegebenen Min/Max Wert sehe ich die Werte nicht im Konfigurationsexport - ist das das Problem? Wie kann ich diesen modifizieren?

[2018-01-02 13:36] fjbender commented on #8
@KaiH1980 wir haben leider noch keine endgültige Lösung für das Problem. Vielleicht kann bei dem min/max Problem unser Tech Support weiterhelfen: 0431/25968-500 oder tech.support@bspayone.com

Danke und viele Grüße
Florian

[2018-01-10 12:59] JEreth opened #146 "Payolution postponed capture"
The payment methods of Payolution requiere to set an online capture only after shipment. To automate this within Magento, one can listen to the _sales_order_shipment_save_after_ event and then capture the open amount.

We created a simple extension that adds that functionality:
https://github.com/Pragmatic-Apps/magento1-payone-postponecapture

Maybe this could also be a feature for a future versio

[2018-01-10 13:37] fjbender commented on #146
Thanks! This will come in handy for some of our merchants I'm sure. I'll take a look and see if we add this as a feature directly into our module (with credits where credits are due, of course).

[2018-01-10 15:40] riconeitzel commented on #121
@fjbender was @Schrank sagt (er hat mit mir und sascha daran gearbeitet)

[2018-01-10 17:03] Backenkoehler commented on #119
We have still daily 30 orders which are stuck. Can we expect any help for this?

[2018-01-11 07:40] fjbender commented on #121
Okay, danke.

Ich hab euer Beispiel mal nachgestellt, und bekomme (wenig überraschend) das selbe Resultat:

![image](https://user-images.githubusercontent.com/7370694/34812657-ea94de52-f6a6-11e7-804c-4d098cd8c921.png)

Ich unterstelle hier mal, dass von diesem Problem nicht nur wir betroffen sind. Unser Modul rechnet ja an dieser Stelle gar nicht selbst. Wahrscheinlich sind also alle payment Modul

[2018-01-11 07:41] fjbender commented on #119
@tniebergall Anything new here?

[2018-01-16 09:23] BembelGmbH opened #148 "Error on Cronjob"
- Magentoversion: 1.9.3.1
- Pluginversion: 3.7.8

Hi,
we have an error @ payone Cronjob:  TRIGGER: shutdown function
![firefox_2018-01-16_10-16-41](https://user-images.githubusercontent.com/20416429/34981083-b47abae0-faa6-11e7-8e5a-1da5a3281ec2.png)
Nothing about it in the payone_cron.log:
[code]
Also nothing in the php or nginx logs-

It happend on one Transaktion until now. The Tranaktionsstatus

[2018-01-16 09:44] gndk commented on #140
Solved by #147

[2018-01-16 09:44] #140 closed

[2018-01-16 09:44] gndk commented on #138
Solved by #147

[2018-01-16 09:44] #138 closed

[2018-01-16 09:45] fjbender commented on #148
@BembelGmbH This might be a duplicate of #119

[2018-01-16 11:55] BembelGmbH commented on #148
The error seems to occur when the order contains special characters, like öäüß and so on

[2018-01-16 12:12] fjbender commented on #146
@JEreth It'll be a big break in expected module behavior if we ship this out in the standard package. With a6e4ea4ca7f6eca2c6a1b273058001821221537c, however, I added a "Related projects" section where your extension is featured. Hope this is fine with you, otherwise I'll revert a6e4ea4ca7f6eca2c6a1b273058001821221537c.

[2018-01-16 12:12] #146 closed

[2018-01-16 12:49] fjbender commented on #148
I couldn't reproduce this with öäüß in neither street nor name fields on magento 1.9.3.1 with the current master.

[2018-01-29 13:46] borishaefele opened #153 "Amazon Pay in der Kasse"
Hallo, kann man bitte Amazon Pay so einstellen, dass man es nicht nur als Express Checkout Button im Warenkorb implementieren kann, sondern so wie alle Zahlarten auch in der "normalen" Kasse? Danke

[2018-01-29 13:48] fjbender commented on #153
So wie uns Amazon Pay dargestellt wurde, ist das eigentlich nicht vorgesehen. Ist das bei anderen Amazon Pay Integrationen so eingebaut?

[2018-01-29 13:53] borishaefele commented on #153
Ja, z.B. https://www.engelhorn.de macht das auch so…

____________________________

Dr. Boris Häfele | Roast Market
Co-CEO & Founder
boris.haefele@roastmarket.de
Moselstraße 27
60329 Frankfurt am Main
Tel: +49 (0) 69 34876162
www.roastmarket.de

[2018-01-29 14:04] gndk commented on #153
Ich wollte das ursprünglich auch so haben, habe aber schnell gemerkt, dass der eigentliche Vorteil von Amazon Pay ist, dass eben keine Adressdaten eingegeben werden müssen. = höhere CR

[2018-01-29 15:08] fjbender commented on #153
Den Vorteil sehe ich nämlich so auch, aber wir besprechen das Thema nochmal mit Amazon.

[2018-01-31 18:15] luxmedia opened #155 "Fehler bei Kreditkarten Zahlart - Cannot read property 'value' of null"
Im Checkout Prozess im Bereich der Zahlungsart ist der Radio-Button bei "Kreditkarte" nicht sichtbar und im Formular (hosted iframe) fehlt das Eingabefeld für die Prüfnummer. Die Eingabefelder für das Datum werden jedoch geladen. Zudem erscheint immer beim Wechsel des Kredikarten-Typs folgender Fehler in der Konsole:

`
Uncaught TypeError: Cannot read property 'maxlength' of undefined
    at M (pa

[2018-02-01 07:12] fjbender commented on #155
Hier könnte wahrscheinlich am ehesten unser Technischer Support helfen. Bitte einmal unter 0431/25968-500 oder tech.support@bspayone.com melden. Falls die das Problem nicht lösen können, schaue ich gern nochmal drauf.

[2018-02-03 05:54] gulshan-streammarket opened #156 "Not compatible with onestepcheckout"
We are using your extension but this is not working with [onestepcheckout ](https://marketplace.magento.com/onestepcheckout-idev-onestepcheckout.html)developed by IDEV.
Is it possible for you to make this extension compatible with onestepcheckout.

Thanks

[2018-02-06 08:49] tniebergall commented on #155
@luxmedia hab ihr eventuell Templates des Moduls überschrieben? Es gab in der Version 3.7.8 einige BCs.

[2018-02-06 08:55] tniebergall commented on #132
@fjbender should we close this issue or leave it to discuss the independent generation if an invoice?

[2018-02-07 11:06] sprankhub commented on #153
Der eigentliche Vorteil ist sicherlich, dass Adressdaten übernommen werden. Aber ich finde es jetzt auch nicht soo uninteressant, nur die Payment Daten zu übernehmen...

@fjbender Wann können wir mit einer aktuellen Info rechnen?

[2018-02-07 22:59] Schrank opened #158 "Amazon Payment Array Key not set "port""
Falsche Uhrzeit für einen PR :-/

2018-02-07T22:53:58+00:00 ERR (3): Notice: Undefined index: port  in /var/www/htdocs/app/code/community/Payone/Core/Block/Adminhtml/System/Config/Form/Field/AmazonConfig.php on line 37

    $element->setData('value', 'https://' . $url['host'] . (isset($url['port']) ? ':' . $url['port'] : ''));

vs Original (da fehlt das isset)

    $element->setData('value', 'http

[2018-02-07 23:00] Schrank opened #159 "Amazon Pay Daten werden nicht übernommen"
Moin, wenn ich auf getConfigutation klicke bei Amazon Pay, wird zwar der Request gemacht (steht im Log), aber die Felder für die Seller und Client ID bleiben leer.

Ich habe das jetzt direkt in die DB gehackt und teste mal weiter. Aber irgendwas hakt da noch.

[2018-02-07 23:05] Schrank opened #160 "Amazon Payment Array Key not set HTTP_X_REQUESTED_WITH"
2018-02-07T23:04:45+00:00 ERR (3): Notice: Undefined index: HTTP_X_REQUESTED_WITH  in /var/www/htdocs/app/code/community/Payone/Core/Block/Amazon/Pay/Shortcut.php on line 83

[2018-02-07 23:09] Schrank commented on #160
Fixed(?)

    if(isset($_SERVER['HTTP_USER_AGENT']) && strpos($_SERVER['HTTP_USER_AGENT'], 'FBAN/') !== false || isset($_SERVER['HTTP_X_REQUESTED_WITH']) && strpos($_SERVER['HTTP_X_REQUESTED_WITH'], 'com.facebook.') !== false) {

[2018-02-08 07:10] sprankhub commented on #159
Ich glaube @norgeindian hatte ein ähnliches Problem. Weiß aber nicht mehr, woran es bei ihm lag...

[2018-02-08 07:10] sprankhub commented on #158
Schon gefixt: https://github.com/PAYONE-GmbH/magento-1/pull/152 ;-)

[2018-02-08 07:27] gndk commented on #159
Ich hatte das Problem auch, lag bei mir daran, dass die .sql-upgrade Dateien fehlerhaft waren und ich die entsprechenden Spalten in der DB manuell anlegen musste. Danach gings.  Siehe #136

[2018-02-16 09:13] sprankhub commented on #153
Bump :-)

[2018-02-16 09:15] fjbender commented on #120
This has been fixed with #130

[2018-02-16 09:15] #120 closed

[2018-02-16 09:16] fjbender commented on #132
Feature not supported on platform.

[2018-02-16 09:16] #132 closed

[2018-02-16 09:17] fjbender commented on #153
Hier warten wir noch auf Feedback von Amazon. Die reine Übernahme von Paymentdaten klappt auf deren Seite noch nicht.

[2018-02-16 09:18] fjbender commented on #156
@gulshan-streammarket Can you be more specific on "is not working"? I'd like to have an exact angle here on which to look.

[2018-02-16 09:19] fjbender commented on #158
Fixed with #152.

[2018-02-16 09:19] #158 closed

[2018-02-16 09:20] fjbender commented on #159
@Schrank Waren die Felder bei dir in der DB vorhanden? Gabs im getconfiguration Request irgendwelche Fehler?

[2018-02-16 09:22] fjbender commented on #160
Merged #161, shouldn't occur anymore.

[2018-02-16 09:22] #160 closed

[2018-02-16 09:37] Schrank commented on #159
@fjbender Der Shop war kaputt, d.h. zuerst warten die Felder nicht da, aber selbst nachdem sie da waren und der Cache gelöscht war, wurden sie nicht befüllt - keine Ahnung warum. Aber wenn ich der einzige mit dem Problem bin, machen wir das Ticket einfach zu :)

[2018-02-16 09:38] gulshan-streammarket commented on #156
@fjbender the main issue come up with payment methods that take input from the customer while payment step. For example, CC has form with input fields and giropay have two fields. It seems with onestepchecout PAYONE module is unable to get that field values to send it to PAYONE gateway. Hope this will help you to identify the issue. Thanks

[2018-02-20 15:07] Schrank opened #163 "duplicate header 'Content-Type'"
"Get configuration" für Amazon Pay fliegt mir mit meinem Apache um die Ohren.

    FastCGI: comm with server "/Applications/MAMP/fcgi-bin/php5.6.32.fcgi" aborted: error parsing headers: duplicate header 'Content-Type'

I add a patch with all setHeads fixed I found:

[content-type.txt](https://github.com/PAYONE-GmbH/magento-1/files/1740557/content-type.txt)

[2018-02-20 15:20] fjbender commented on #163
We'll look at the patch and apply it. Thanks!

[2018-02-22 08:29] fjbender commented on #163
@Schrank we couldn't reproduce this issue (maybe it's MAMP only?) but have applied the patch anyway, see #164. Can you confirm this fixes the issue on your side?

[2018-02-23 15:01] Schrank commented on #163
I think it happens with php in cgi mode, not with fpm and not with apache module.

Problem fixed!

[2018-02-23 15:01] #163 closed

[2018-02-26 07:19] fjbender commented on #156
@gulshan-streammarket Unfortunately, we're unable to obtain a license for this module so can't check the exact problems. Sorry for this. Maybe IDEV support can contact us and work something out.

[2018-02-26 07:19] #156 closed

[2018-02-26 15:12] madismanni commented on #156
Hi!

Please contact support@onestepcheckout.com and we will inspect the issue. Normally payone should be compatible with onestepcheckout.com module, we have a patch for it.

[2018-02-26 15:14] madismanni commented on #156
Unfortunately, we're unable to obtain a license for this module so can't check the exact problems. Sorry for this. Maybe IDEV support can contact us and work something out.

?? I have not received such request, can you please contact support@onestepcheckout.com ?

[2018-03-01 10:25] Sveni81 opened #170 "Magento patch SUPEE 10570 cause display error"
On the Orderdetailspage in the left menü will be html printed out. The patch correct diffrent output threatment which could cause the problem.

[2018-03-01 10:26] Sveni81 commented on #170
![bildschirmfoto 2018-03-01 um 11 26 19](https://user-images.githubusercontent.com/25319974/36839823-694aa61a-1d43-11e8-8c4a-038dc0d0f3d8.png)

[2018-03-01 14:17] rafallmmw opened #171 ""Die angeforderte Zahlungsart ist nicht verfügbar" Exception in the Checkout"
In Checkout > Billing address: when I click "Continue" (as a Guest user) then I'm landing in the shopping cart.
There is following exception in logs:

a:5:{i:0;s:50:"Die angeforderte Zahlungsart ist nicht verfügbar.";i:1;s:3057:"#0 /var/www/kd/stage.inwerk.de/app/code/core/Mage/Payment/Model/Info.php(82): Mage::throwException('Die angefordert...')
#1 /var/www/kd/stage.inwerk.de/app/code/core/Mage/

[2018-03-05 10:51] Backenkoehler commented on #119
Hey @fjbender,
Hey @tniebergall,

maybe we found something. Everytime an order gets stuck we have an Deadlock. Could we improve error handling to set this failed orders back to pending? Doing by hand with a sql query does the work right now.

Lines marked with ** throw the exception. Stacktrace:

PDOException: SQLSTATE[40001]: Serialization failure: 1213 Deadlock found when trying to get lock; try

[2018-03-05 11:01] fjbender commented on #119
That's an interesting insight! I don't know if people still use it, but maybe https://github.com/AOEpeople/Aoe_DbRetry is an option to prelimiarily fix the issue?

[2018-03-06 11:15] Backenkoehler commented on #119
We already use this extension and we have still deadlocks. It's a bit worrying.

[2018-03-07 09:50] sprankhub opened #174 "Cancelled Orders With Successful Payments"
We have the issue that orders are sometimes cancelled shortly after creation. A bit later, the payment is successfully made and the order is re-set to processing state. However, the product status is still cancelled, so that the order is in a state, where we cannot do anything with it: Since the products are marked as cancelled, Magento does not allow to create an invoice or a shipment. We have to

[2018-03-08 22:02] tim-bezhashvyly commented on #171
+1

Caused by [this code](https://github.com/PAYONE-GmbH/magento-1/blob/master/app/code/community/Payone/Core/Block/Checkout/Onepage/Payment/Methods.php#L186) when quote payment method is NULL.

[2018-03-09 06:55] thampe commented on #121
Hallo zusammen,

ich wollte mal Fragen ob es hier ggf. schon neue Entwicklungen gibt? Aktuell betreue ich auch einen Shop der von diesem Problem betroffen ist.

Die vorgeschlagenen technischen Lösungen sind doch unabhängig davon, dass *alle* Zahlungsanbieter betroffen sind, weiterhin theoretisch durchführbar oder etwa nicht?

[2018-03-09 07:25] tim-bezhashvyly opened #175 "Modman directive for skin images is missing"

[2018-03-09 07:42] tim-bezhashvyly commented on #171
I could provide a PR but in order to do so I need to understand why do you override `getSelectedMethodCode()` method in the first place.

[2018-03-09 07:48] sprankhub commented on #171
The code has been introduced in https://github.com/PAYONE-GmbH/magento-1/commit/ef42f022b54ca69fbd591b3f2d8891d734399bf6 and attempted to fix #57. #131 may be related as well / may be a duplicate.

[2018-03-11 18:28] tim-bezhashvyly commented on #171
Yes. Looks like this issue duplicates #131. May be closed.

[2018-03-11 18:30] tim-bezhashvyly commented on #131
This issue is caused when quote payment method is `NULL`.

[2018-03-11 18:38] tim-bezhashvyly commented on #131
The solution is either to test against `NULL` or remove the method override entirely. In case of latest not sure if it will break GoMage Checkout (previously known as Lightcheckout, apparently not that light anymore).

[2018-03-12 09:36] gulshan-streammarket opened #178 "PAYONE API certificate update"
Hello,

We have received a newsletter from PAYONE team to update API certificate. They also have mentioned "Server systems which are using cURL (e.g. PHP with libcurl) or OpenSSL are usually not affected.". We just want to make sure whether this module will be affected by this or not.

Thanks

[2018-03-12 10:25] fjbender commented on #174
Thanks for the detailed bug report. We'll look into this.

[2018-03-12 12:01] sprankhub opened #181 "Wrong Exception for Some Shopgate Orders"
In https://github.com/PAYONE-GmbH/magento-1/commit/7c7ebdde9e3ebc36f1df8e842b0f19981db4e487 and https://github.com/PAYONE-GmbH/magento-1/commit/c3b4c237deaeed2e34fcd00081f357033c1bb853, we theoretically fixed the issue that the `exception.log` is cluttered with entries like this:

    2018-03-12T09:46:32+00:00 ERR (3):
    Payone_Core_Exception_OrderNotFound: Could not find an order for reference

[2018-03-13 19:24] phoenix-schwarz commented on #121
Das Problem ist an dieser Stelle ja nicht die Magento-Rundung, sonder die Rundung auf den einzelnen Positionen beim Zahlungsanbieter. Sobald ich mehr als 1 Produkt habe und auf Einzelpositionsebene runden muss für die Übermittlung kommen diese Differenzen zustande. Ja, wir haben diese Problematik auch in einigen Projekten. Meines Erachtens nach ist der einzig gangbare Weg der, dass die Zahlungsanb

[2018-03-13 19:27] Schrank commented on #121
Du meinst es vermutlich genau so, aber nur zur Klarstellung: Nur weil Paypal das nicht klarkriegt, heißt dass nicht, dass das ok ist.

[2018-03-13 19:29] phoenix-schwarz commented on #121
Ich finde es alles andere als OK. Für mich sind 4 Nachkommastellen die einzig sinnvolle Lösung.

[2018-03-14 07:52] fjbender commented on #178
The module will not be affected. In this implementation, we trust on the system wide list of CAs. As our certificate is and always will be issued by a large CA, it will continue to work without any problems.

Best
Florian

[2018-03-14 07:52] #178 closed

[2018-03-14 07:53] #175 closed

[2018-03-14 07:53] fjbender commented on #175
Thanks!

[2018-03-14 07:58] fjbender commented on #171
Closed as duplicate of #131

[2018-03-14 07:58] #171 closed

[2018-03-14 07:59] fjbender commented on #131
Maybe it'd be an option to wrap this into a toggle block, e.g. "GoMage compatibility Yes/No".

@gndk would that work for you?

[2018-03-14 08:01] fjbender commented on #181
I suppose this should be safe enough. Would you provide a PR and adapt your code accordingly?

Thanks

[2018-03-14 08:21] sprankhub commented on #181
Yes, I will. Which option do you prefer @fjbender? Just checking for "SG" prefix or checking the prefix PLUS checking the reference length?

[2018-03-14 08:24] fjbender commented on #181
I'll check with Shopgate if the order number length is somewhat stable and then make a decision.

[2018-03-14 09:21] gulshan-streammarket commented on #178
Many Thanks

[2018-03-14 12:21] sprankhub commented on #174
When? Sorry for bugging you, but this is quite important IMHO.

[2018-03-14 12:23] sprankhub commented on #170
Fixed in https://github.com/PAYONE-GmbH/magento-1/commit/c1ba6b8962efe4fdf8b3684c8f6185354245f4c1.

[2018-03-14 12:26] #170 closed

[2018-03-14 12:28] fjbender commented on #174
It's next on the list. These "back button" issues with redirect payment methods are always a pest, however, so I hope it won't take too much time to fix it.

[2018-03-14 22:14] Backenkoehler commented on #119
Any Updates? We still have errors like this + orders stuck in pending. We need a solution or we have to evaluate other payment options. It's not acceptable to run custom queries on the live database daily if you do 6 figures through credit card.

[2018-03-15 07:30] fjbender commented on #119
@tniebergall Let‘s discuss this asap

[2018-03-15 11:02] phoenix-schwarz opened #182 "Notice: unserialize() in Model/Domain/Protocol/TransactionStatus.php"
We are having the following issue several times a day in the logs:

Notice: unserialize(): Error at offset 543 of 1115 bytes  in /var/www/project/htdocs/app/code/community/Payone/Core/Model/Domain/Protocol/TransactionStatus.php on line 314

Could you please let us know any possible reason? For me this means, that we have invalid serialized data for whatever reason.

see: https://davidwalsh.name/ph

[2018-03-19 13:30] fjbender commented on #182
Hi,

Thank you for your contribution in #183.

However, before merging the PR, I'd like to find out why the message appears in the first place. Do you have any access to the "invalid" string that is supposed to be unserialized at that point?

Thanks
Florian

[2018-03-20 10:07] phoenix-schwarz commented on #182
Yes, I have a log with a few cases. As it is sensitive data, I would prefer to send you an e-mail with a few samples.

[2018-03-20 10:12] phoenix-schwarz commented on #182
BTW: I think that the issue is related to characters like: ø and å as all the samples are containing characters like this.

[2018-03-20 10:13] phoenix-schwarz commented on #182
https://stackoverflow.com/questions/2853454/php-unserialize-fails-with-non-encoded-characters

[2018-03-20 10:23] phoenix-schwarz commented on #182
I anonymized the string:

`a:37:{s:3:"key";s:32:"XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX";s:8:"txaction";s:9:"appointed";s:8:"portalid";s:7:"XXXXXXX";s:3:"aid";s:5:"XXXXX";s:12:"clearingtype";s:2:"cc";s:14:"notify_version";s:3:"7.4";s:6:"txtime";s:10:"1521525598";s:8:"currency";s:3:"DKK";s:6:"userid";s:9:"1XXXXXXXX";s:10:"accessname";s:0:"";s:10:"accesscode";s:0:"";s:5:"param";s:0:"";s:4:"mode";s:4:"live

[2018-03-20 11:31] phoenix-schwarz commented on #182
The question is are those orders processed correctly or not?

[2018-03-20 11:58] fjbender commented on #182
Great, many thanks. We'll hopefully figure out a way around this. I'll validate as well whether the transaction processing is affected by this or not (as first sight it looks good, but I'll make sure).

[2018-03-22 09:08] fjbender commented on #181
Unfortunately, there's no feedback from Shopgate yet.

[2018-03-22 14:37] fjbender commented on #181
@sprankhub Shopgate confirmed that they're going to retain the SG prefix and the length of the order number, so it should be sufficient to test for that.

[2018-03-23 07:25] #181 closed

[2018-03-23 07:48] sprankhub commented on #35
Status?

[2018-03-23 07:48] gulshan-streammarket opened #186 "Order on Peding status"
Hello,

I can see some orders are in pending payment status for a long time.
I checked the Payone transaction and that show
Last Txaction | REDIRECT

Why these orders not cancelled/closed automatically if payment not captured.
Is there any option in the extension that I don't know?

Thanks

[2018-03-23 07:56] fjbender commented on #186
Hi,

This occurs most of the time when the customer didn't finish the transaction on e.g. PayPal's site. There's no way for us to really know, other than "no notification received from PayPal in a timeframe of xy hours". However, we don't want to go around and close any order, because there may be other problems delivering the notification to the shop.

Our support might help you identify if this

[2018-03-23 07:56] #186 closed

[2018-03-23 13:16] fjbender commented on #182
We solved this by switching to JSON with #187. Can you confirm this solution?

[2018-03-23 13:52] phoenix-schwarz commented on #182
I'll check, but the code for me looks good, except my comment to use `@unserialize` etc, to avoid further Notices in the logs

[2018-03-24 15:21] atsareva opened #189 "Sofortüberweisung and Credit Card don'tt work"
Hi guys!

**Preconditions**

- Magento 1.9.3
- Ubuntu 16.04 lts
- Percona
- Apache

I've configured the next payment methods

1. PayPal
2. Rechnung (Invoice)
3. Lastschrift (debit)
4. Sofortüberweisung
5. Kreditkarte (Credit Card)
6. Vorkasse (Advance Payment)

and all works fine except **Sofortüberweisung** and **Kreditkarte** methods.

**Sofortüberweisung**
Customer is redirected to the https://

[2018-03-26 05:56] fjbender commented on #189
Hi Alona,

this doesn't really look like a module bug to me. Have you talked to our Technical Support team already?

[2018-03-26 08:54] fjbender commented on #189
Hi,

in my test setup, the payone_customer table is empty too and credit card works, so I suppose this is a configuration error. If the error persists after Tech Support has checked your configuration, I'll take another look :)

[2018-03-26 09:05] atsareva commented on #189
Okay, thank you!

[2018-03-26 11:19] loswochos commented on #119
Same here. Problem still exists and we need a solution.

[2018-03-27 08:18] sprankhub commented on #174
Status? :-/

[2018-03-27 15:36] FatchipRobert commented on #174
I checked the issue and I was able reproduce it.

Unfortunately there is not really an elegant solution for this.
At least I didnt find one yet.

I wasn't able to manipulate the redirect process so that it's not possible
to jump back to the external payment provider with the browser-back-button.
This would have been the most elegant way but it didn't work.

The second best method would have been t

[2018-03-27 16:06] sprankhub commented on #174
I agree that this issue is difficult to solve. But I strongly disagree that this is user error. The payment providers DO provide an option to "cancel and go back" (in the case of Sofort). Besides of that, why shouldn't I use the browser back button if I change my mind and do not want to pay via Sofort, but via PayPal instead? I think this is an absolutely valid user action. Hence, you / we have to

[2018-03-27 16:45] FatchipRobert commented on #174
The case with "the customer changes his mind and doesnt want to pay with Sofort, but with PayPal instead" is working though.
The first try with Sofort stays in the the order table as canceled and a new order for the PayPal payment is created.

Deactivating the quote and emptying the cart doesn't help at all unfortunately, because the customer can jump back into the "dead order process" and the sho

[2018-03-28 22:39] jg-development opened #190 "Failed opening Hint.php"
Hi,
I have a Problem with the Payone Core Version 3.7.8 and Magento 1.9.3.8.
I am getting sometimes errors like these:
[code]
Often after a add product to basket call, but not always. I am currently not able to reproduce this issue, but maybe you can find a way to reproduce it.
As far as I can see the hint.php should only be loaded in the admin section but the extension is trying to load it in the

[2018-03-29 09:21] #182 closed

[2018-04-04 06:01] fjbender commented on #190
Hi,

This is really odd and I can't reproduce it as well. Is there any way to obtain a stack trace?

[2018-04-05 10:30] branb opened #191 "Custom Onepage-Checkout: ReferenceError: payment is not defined"
We've taken over an already running Magento 1.9.3.6 Shop, which has a custom onepage checkout solution. I'm still in the process of figuring out if the whole module is custom coded or just an adjustment of an existing module.

Right now, there seems to be no "payment" object in the DOM, which the payone module references at one point with this code:

[code]

which is found in the template file ```

[2018-04-05 21:35] jg-development commented on #190
Hi,
I will see, that I install a log entry with a stack trace this week.

[2018-04-06 11:34] fjbender commented on #191
In a stock Magento, I found this object to be created in opcheckout.js:

![image](https://user-images.githubusercontent.com/7370694/38419011-f39ad836-399e-11e8-951d-ada77a43e32d.png)

Our plugin needs to know when the customer has clicked the "Continue" button of some sort to start tokenization of the credit card, for instance.

Maybe you can work around that and trigger payone.exec somewhere else

[2018-04-06 14:40] branb commented on #191
Thanks for your reply.

Ok, that sounds doable.

Can you give me a simple outline of what the payone object needs to do it's job?

How do I tell it where the data from the form (input fields, there is no real form...) is located and how does it map / read the input fields?

Is payone.exec all that needs to be executed? How do I check if it succeeded?

As far as I've understood it, I'd have to do:

[2018-04-09 05:45] fjbender commented on #191
From what I see (I'm no JS expert), payone.exec handles everything, provided the environment is as it expects it to be (which might be the tricky part). It collects the credit card data from the iFrames and writes the token back.

Following https://github.com/PAYONE-GmbH/magento-1/blob/master/js/payone/core/creditcard.js#L40 we, however, somewhat rely on payment.save() from the classic one page ch

[2018-04-09 05:58] branb commented on #191
Allright. Thx so far, I'll give it a try

[2018-04-09 10:32] #189 closed

[2018-04-09 11:31] agierloff commented on #155
Hallo,
wir können das Problem der fehlenden Prüfnummer nachvollziehen.
Wir fahren bei einem Kunden von uns Magento 1.9.2.0 mit der Payone Version 4.1.4.
Bei einem anderen Magento 1.9.3.8 mit Payone Version 4.1.1

Wenn wir das Modul so konfigurieren, dass die hosted-iframe Lösung für die Kredikarte aktiviert ist und gleichzeitig die Kreditkarten Einstellung "Prüfe Kartenprüfnummer" auf "Nein" steht

[2018-04-11 11:35] nofrillswebdesign opened #195 "HTML-Code in Bestellansicht-Tabs nach SUPEE-10570"
Mit dem letzten Patch, SUPEE-10570, wird der Inhalt von Admin-Tabs escaped, so dass in den Payone-Tabs der Bestellansicht der HTML-Code des 'span' statt dem kleinen Logo angezeigt wird.
Mage/Adminhtml/Block/Widget/Tabs.php - Zeilen 292 & 294

[2018-04-11 12:16] fjbender commented on #195
Das wurde bereits mit #180 gefixt.

[2018-04-11 12:16] #195 closed

[2018-04-16 13:41] fjbender commented on #155
Wurde mit #194 gefixt.

[2018-04-16 13:41] #155 closed

[2018-04-16 14:39] jg-development commented on #190
Hi, this seems to be an error only with hhvm and not php7, so I think I will close this.
Thanks Jan

[2018-04-16 14:39] #190 closed

[2018-04-19 06:28] sprankhub commented on #174
Status?

[2018-04-19 06:29] sprankhub commented on #153
Irgendwelche Neuigkeiten?

[2018-04-19 07:50] fjbender commented on #153
Ich habe von Amazon in dieser Richtung noch nichts gehört.

[2018-04-19 07:51] fjbender commented on #174
We have a pull request #193 for this. However, it's still in testing and we don't know yet, whether it's working as expected. You are, as always, welcome to add your two cents. :)

[2018-04-19 08:11] FatchipRobert commented on #174
The pull request is not 100% precise yet.
There should be a new one today or tomorrow.

[2018-04-21 17:27] luckyduck commented on #8
Irgendwie ein Update dazu? Ich habe das gleiche Problem, aber mit der neueren Meldung "payone_creditcart" statt "0" nicht gefunden.

[2018-04-23 12:53] cryptoso opened #199 "Redirecting to home page instead of success page after paying with credit card"
Magento version: 1.9.3.8.
Payone version: 4.1.4
Checkout version: standard Magento
Template: Magento Lumia
Installed modules: no

Issue:
After paying with credit card user will redirect to home page, it comes no success page.
If user order with bank transfer (standard magento payment method), he/she is getting redirect to success page and can see the order number.

[2018-04-24 07:12] fjbender commented on #174
@sprankhub We now have updated #198. I wasn't quite able to force a re-login into Sofort's new interface (maybe they disabled it?). The PR is still in testing, your feedback is always welcome.

[2018-04-24 07:50] sprankhub commented on #174
Do not get me wrong, but I fear the customer does not want to pay me for testing this in an unfinished state ;-) But I will definitely test it as soon as this is officially merged and released!

[2018-04-24 08:12] fjbender commented on #174
Sure :) Could've been that you encountered a similar behavior with Sofort though. Will get back to you once we're done testing.

[2018-04-24 08:15] fjbender commented on #199
Are there any error logs in the web server or in the var/reports?

[2018-04-24 08:48] mSengera opened #200 "Fatal Error in Cart"
Hey,
i have following Error on Cart page:

Parse error: syntax error, unexpected '[' in /app/code/community/Payone/Core/Model/Payment/Method/Abstract.php on line 229

Best regards,
Marvin Sengera

[2018-04-24 08:52] cryptoso commented on #199
Hello, no, there are no errors in the logs. Payone technical support says it is every thing ok. The order is also comming through and the user get the confirmation email. Just no redirection to success page. It looks like the error is in compatibility between M1 1.9.3.8 and last PO ext version. We have downgraded the Magento version to 1.9.3.2 and it works fine. Also withe 3rd part checkout extent

[2018-04-24 09:00] fjbender commented on #8
Leider gibt es hier noch nichts neues.

[2018-04-24 09:26] fjbender commented on #200
Which version are you using? In https://github.com/PAYONE-GmbH/magento-1/blob/master/app/code/community/Payone/Core/Model/Payment/Method/Abstract.php#L229 I can't find any '['. Additionally, which PHP version are you using?

[2018-04-24 09:52] mSengera commented on #200
Hey,
we use the Payone 4.1.4 release.
Further we use PHP 5.6.

I can't find an additional '[' in our code, too.

[2018-04-24 13:00] fjbender commented on #199
I can't reproduce this issue in a freshly installed Magento 1.9.3.8, neither in AJAX nor in hosted iframe mode, neither with or without 3D Secure. Can you tell me the transaction ID of one affected transaction (from the API Log in the module)? Was it a 3D Secure transaction?

[2018-04-24 13:18] fjbender commented on #200
I can't reproduce the error on any Magento version with either v4.1.4 or the current master on a PHP 5.6 system. :disappointed: The entire block (lines 223-233) was introduced with 502818215854ef877898ba4ff85e0d2464b78e26. Can you comment out this block and try again?

[2018-04-24 14:00] cryptoso commented on #199
Here for example:

[2018-04-16 13:38:26] INFO - addressaddition=|aid=XXXXX|amount=100|backurl=https://rxxxxxxxxxxx.de/payone_core/checkout_onepage_payment/back/reference/NTk3/|birthday=|cardcvc2=|cardexpiredate=|cardholder=|cardissuenumber=|cardpan=|cardtype=|city=gugu|clearingtype=cc|company=|country=DE|currency=EUR|customerid=|ecommercemode=|email=xxxxxxxxxxxxxxxxxx|encoding=UTF-8|errorurl=https

[2018-04-24 14:02] mSengera commented on #200
Now i get following Error:
Parse error: syntax error, unexpected '[' in /var/www/vhosts/mein-teller.de/httpdocs/dev/app/design/frontend/base/default/template/payone/core/amazon/pay/shortcut.phtml on line 30

[2018-04-24 14:05] mSengera commented on #200
Ok i fixed this error on my own.

Change Line 30 from
$returnUrl = Mage::getUrl('payone_core/amazonpay/checkout', ['_nosid' => true, '_forced_secure' => true)];
to
$returnUrl = Mage::getUrl('payone_core/amazonpay/checkout', array('_nosid' => true, '_forced_secure' => true));

[2018-04-24 14:09] mSengera commented on #200
I had checked the server again...

I'm sorry. We run following PHP Version:

PHP Version 5.3.10-1ubuntu3.26

[2018-04-25 06:29] fjbender commented on #200
From the [PHP Documentation](http://php.net/manual/en/language.types.array.php)

We require at least PHP 5.4 (which itself is really, really old).

[2018-04-25 06:29] #200 closed

[2018-04-25 06:33] fjbender commented on #199
Okay, I can't really see anything weird there. Possibly it'll only help to debug the shop, I'm afraid.

[2018-04-25 09:43] gulshan-streammarket opened #201 "Cron job was running for more than one hour"
We have seen cronjob timeline and found cronjob payone_core_cronjob_transactionstatus_process was running for more than one hour. Also executed successfully.
![cron was running for more thank hour](https://user-images.githubusercontent.com/32667915/39238140-1a41cd5e-489b-11e8-9b26-6eca75081823.png)

[2018-04-25 13:16] fjbender commented on #201
Okay, that is weird. Has anyone else ever seen this behavior?

[2018-05-02 07:43] fjbender commented on #174
We have now tested #198 and it fixes the problem, thus merged. We should be ready to close this issue.

[2018-05-02 07:46] sprankhub commented on #174
Looking forward to the next release - I will test it then.

[2018-05-02 08:18] sprankhub opened #202 "Missing Translations"
The following translations seem to be specific to PAYONE and have no German translation:

- An error occured during the PayPal Express Checkout.
- The PayPal Express Checkout has been canceled.
- Unable to initialize Payone Express Checkout.
- PayPal Express Checkout Token does not exist.

[2018-05-02 09:56] #202 closed

[2018-05-02 09:57] fjbender commented on #202
I added the translations with #203

[2018-05-04 09:58] sprankhub opened #204 "PayPal Express in Cart - Skip Review Page"
It is possible to show a PayPal Express button on the cart page by activating `payone_general/payment_paypal_express_checkout/paypal_express_checkout_visible_on_cart`. When clicking it and completing the payment at PayPal, the user is redirected to a review page at the shop, where he needs to submit the order. My customer wants to skip the review page. The order should directly be submitted and th

[2018-05-06 17:54] gndk commented on #199
This is possibly related to a bug in 1.9.3.8 / SUPEE-10570.

Check out the patch SUPEE-10570v2 (1.9.3.8 only includes the faulty v1 of the patch)

[2018-05-07 06:02] fjbender commented on #199
Thanks @gndk

[2018-05-07 06:02] #199 closed

[2018-05-07 06:53] sprankhub commented on #204
Pity. Most of the shops I know only have one shipping option anyway, so this should be possible. One could have a configuration option to select the default shipping option for PPE as well. I will get back to the customer and see if he wants to have this implemented.

[2018-05-10 06:54] gulshan-streammarket commented on #201
We have got the issue, the cron jobs were affected by some other cron job changing time zone at run time. It's not a module's bug.
Thanks

[2018-05-10 06:54] #201 closed

[2018-05-13 14:41] gndk opened #207 "CRIT (2): Not valid template file:adminhtml/base/default/template/payone/core/payment/method/form/amazonpay.phtml"
CRIT (2): Not valid template file:adminhtml/base/default/template/payone/core/payment/method/form/amazonpay.phtml

I'm getting a lot of these errors in my system.log. The file doesn't exist in the repo but its called somewhere. I'm using Magento 1.9.3.8 and Payone 9e2aef2

I can only find the frontend calls in app/code/community/Payone/Core/Block/Payment/Method/Info/AmazonPay.php and app/code/comm

[2018-05-13 14:44] gndk commented on #207
I guess thats where its coming from (Admin create order): https://screencast.com/t/KcSm82HRI

But Amazon Pay shouldn't even appear there as its not possible for the Admin to create an order using Amazon Pay.

[2018-05-14 09:14] fjbender commented on #207
Thanks. We'll fix this.

[2018-05-28 10:37] #207 closed

[2018-06-04 09:05] phoenix-schwarz commented on #174
The changes from https://github.com/PAYONE-GmbH/magento-1/pull/198/commits/35435a09cec76dc6ea9a432a527a0213e04ffc7e#diff-893d7b14c3466eed0a5dda31e1635567 are not included in Version 4.1.5 and 4.1.6 - is this by purpose?

[2018-06-07 09:54] fjbender commented on #174
bc1a1b5e693d2d8f2348669e3ee29c409ec2f53a overwrote these specific changes.

We're looking into that.

[2018-06-14 20:35] luxmedia opened #213 "CVC field is not validated !"
We (and probably many others???) have a serious problem in a Magento 1.9.3.8 shop using Payone creditcard and CVC validation.

In the config settings for the paymenttype "creditcard", the "check CVC" option is set to "always" and the field is of course visible in the checkout. But customers can place an order without entering any CVC.

I talked with the Payone support about this issue and the tech

[2018-06-15 09:51] fjbender commented on #213
I see that this is a serious issue for some merchants. However, we do have the problem that several card types do not need a CVC check (as there is no CVC for those cards) and many merchants define individual card types for certain geographies (e.g. Dankort as a co-branded Visa in Denmark) where we can't enforce a CVC.

The easiest way would probably be to create a "simple CVC enforcement mode" wh

[2018-06-15 11:20] luxmedia commented on #213
Thanks for your immediate reply.
In Magento we do not have any options for individual card types, just the default ones. In our case we are using the ones you noted: Visa, Master and AMEX. And we are using the hostedIframe solution, i forget to mention that, sorry.

Shouldn't it be default, that the CVC validation is configured properly/restrictive for the default card types and individual card ty

[2018-06-15 11:47] fjbender commented on #213
The "Check CVC" configuration option is misleadingly labeled. It only sets whether the CVC input field is displayed or not. Due to the nature of the hosted iFrame implementation on API side, it was not possible until recently to enforce a CVC at all. This has been changed by introducing the "length" parameter, which can be set for different card types, e.g. `{"A": 4, "V": 3, "M": 3, "J": 0}`. This

[2018-06-20 13:46] sprankhub opened #218 "Subscriptions / Recurring Payments"
A customer wants to offer subscriptions for many products. Does the PAYONE Magento plugin offer some form of recurring payment support?

[2018-06-20 13:51] fjbender commented on #218
Currently I don't know of any customer using our extension this way, sorry. In theory it should be possible to use the pseudo card numbers, stored IBANs, invoice information and the like to create a recurring payment module using our code for communication to the Payone API.

[2018-06-22 17:08] #159 closed

[2018-06-22 17:09] Schrank commented on #103
Cool feature! I love to look into the communication of php with whatever API, e.g. payone with [Charles](https://www.charlesproxy.com/) or Wireshark. So this is a good thing! :-)

[2018-06-22 17:14] Schrank opened #219 "AdBlocker blockt pay1.js - chaotisches Verhalten"
Ich habe PrivacyBadger installiert, was vieles wegblockt, unter anderem manchmal die pay1.js (heißt die so?).

Das führet zu komischem Verhalten. Bei einem Kunden nimmt das System zwar die richtige Payment-Methode denkt aber trotzdem, dass es Nachnahme ist und fügt Gebühren hinzu.

Heute beobachtet mit 4.1.6: Man kommt durch den Checkout, im Review fliegt einem aber das System um die Ohren mit `"P

[2018-06-22 17:15] Schrank commented on #219
Ich habe eine (die auch doof ist, aber besser): Man lädt die pay1.js auf dem Server via PHP und "cacht" sie. So wird sie aktualisiert, aber von der gleichen URL geladen.

[2018-06-23 19:20] Schrank opened #220 "AmazonPay: Adresse im Checkout unbekannt -> auch in Warenkorbpreisregeln"
Wir haben eine Warenkorbpreisregel für kostenlosen Versand nach Deutschland:

![image](https://user-images.githubusercontent.com/379680/41812828-d2d11ede-772a-11e8-9876-9e68a0c16c16.png)

Diese ist auf Deutschland eingeschränkt. Im AmazonPay Checkout ist aber die Adresse unbekannt, daher auch das Land und damit greift die Regel nicht.

Ich habe keine Idee wie man das fixen kann. Irgend eine Chance

[2018-06-25 05:57] fjbender commented on #219
Meinst du dieses JS https://secure.pay1.de/client-api/js/v1/payone_hosted_min.js ? Ich würde mich schwer damit tun, die im Shop zu cachen.

Grundsätzlich sollte das im Algorithmus von PrivacyBadger aber auch nicht besonders auffallen. Interessanterweise setzen wir aber ein PHPSESSID Cookie, das wir IMHO nicht brauchen. Vielleicht wird das als Tracking-Cookie interpretiert. Ich schaue mal, ob wir v

[2018-06-25 06:02] Schrank commented on #219
Genau das. Und wenn ihr den Cookie nicht braucht, lasst ihn einfach immer weg 😊 Es gibt bestimmt TrackingBlocker Benutzer da draußen ohne DNT.

[2018-06-25 07:46] fjbender commented on #220
Eigentlich haben wir die Adresse nachdem `\Payone_Core_Model_Service_Amazon_Pay_Checkout::confirmSelection` (https://github.com/PAYONE-GmbH/magento-1/blob/master/app/code/community/Payone/Core/Model/Service/Amazon/Pay/Checkout.php#L113) ausgeführt wurde. Wie ich das sehe, sollte das beim Wechsel in den finalen Schritt passieren.

Vielleicht schreiben wir diese Info "zu spät" an Magento, sodass die

[2018-06-25 07:56] Schrank commented on #220
Genau, wir reduzieren den Versand, da brauchen wir die Adresse :-)

[2018-06-25 07:58] fjbender commented on #220
Das ist klar ;) Weißt du, wann genau `processFreeShipping` aufgerufen wird, idealerweise verglichen zu `confirmSelection` von uns?

[2018-06-25 08:35] sprankhub opened #221 "PayPal Express Additional Address Line Not Adopted"
If I use PayPal Express in the cart and have an "Adresszusatz" defined in my PayPal account, this "Adresszusatz" is not adopted and completely missing from the Magento address. This leads to many parcel returns for obvious reasons. Here are some screenshots, which show the issue:

1. Address in PayPal Express (see field "Adresszusatz")
![1-paypal-express-adresse-in-paypal](https://user-images.gith

[2018-06-25 08:37] gndk commented on #221
I often have the same issue. Would be nice if this would be added to the company address field in magento.

[2018-06-25 08:38] sprankhub commented on #221
By the way, I think this happens without PAYONE with the default Magento PayPal Express payment method as well. Anyway, I think you should fix this in your extension nevertheless.

Shopware seemed to have the same issue as well. See https://issues.shopware.com/issues/PT-8608 / https://github.com/shopwareLabs/SwagPaymentPaypal/pull/12.

[2018-06-25 09:17] fjbender commented on #221
I guess this should be a no-brainer. The response already contains a parameter `add_paydata[shipping_addressaddition]`. It is handled by `\Payone_Core_Model_Service_Paypal_Express_Checkout::returnFromPaypal`. If you amend this [method](https://github.com/PAYONE-GmbH/magento-1/blob/master/app/code/community/Payone/Core/Model/Service/Paypal/Express/Checkout.php#L197) somewhere along the lines of

[c

[2018-06-25 10:11] sprankhub commented on #221
Thanks for the insights @fjbender! Just to make sure that we do not misunderstand each other: My expectation would be that PAYONE solves this issue. Will you work on it soon?

[2018-06-25 11:08] fjbender commented on #221
I would, but I'm not sure where to put the address addition information. "Company" doesn't feel right as this might screw up B2B/B2C recognition, so I have no idea where to put it.

[2018-06-25 11:54] gndk commented on #221
I forgot about street2 :-). That would be a better fit.

[2018-06-25 12:11] fjbender commented on #221
We'll try and write it in street2 then. :)

[2018-06-26 14:44] sprankhub opened #223 "Missing Event checkout_submit_all_after For PayPal Express In Cart"
For nearly all payment methods, the event `checkout_submit_all_after` is dispatched. The event is used by various extensions like [Bubble_StockMovements](https://github.com/jreinke/magento-stock-movements/blob/9597d2de4db2f3445447c59e4bb1d29240d29452/app/code/community/Bubble/StockMovements/etc/config.xml#L46-L53). Unfortunately, if the customer uses PayPal Express directly in the cart, the event

[2018-06-27 06:00] fjbender commented on #223
It was probably just forgotten. We'll add it.

[2018-06-27 11:02] Schrank commented on #220
processFreeShipping wird während des add to Cart aufgerufen und wenn ich die Warebkorbseite lade (also lange vor dem Checkout)

confirmSelection wird vor dem letzten Schritt aufgerufen, also nach Adress und Paymenteingabe und DANACH kommt processFreeShipping, aber leider ist die Adresse leer. Die billing-Address sieht genau so aus. Leer. Kein Name, Street, etc.

![bildschirmfoto 2018-06-27 um 13 0

[2018-06-27 11:03] Schrank commented on #220
Warte! Danach kommt noch ein Aufruf von processFreeShipping - ich melde mich :D

[2018-06-27 14:03] Schrank commented on #220
Ok, EIGENTLICH sollte es klappen. Aber Magento "cacht" in `\Mage_SalesRule_Model_Rule::$_validatedAddresses` ob die Validierung durchlief. Beim ersten Versuch fehlt die Adresse, beim zweiten ist sie da, aber da ist das Kind schon in den Brunnen gefallen.

Ich habe jetzt 2h geschaut, WO dieser Eintrag in `\Mage_SalesRule_Model_Rule::$_validatedAddresses` gemacht wird und finde es nicht. Die einzige

[2018-06-28 08:17] fjbender commented on #220
Danke dir für die detaillierte Recherche!

Ich kippe das mal bei unser Entwicklung ein und schaue, dass wir da etwas machen können.

[2018-06-29 08:02] sprankhub commented on #223
Awesome. Should work I think. We can give you feedback after a new release has been created with this fix.

[2018-07-04 06:21] hardiklinksture opened #227 "Upgrade to latest version Parameter {cardexpiredate} faulty or missing]"
Hello,
Recently i update the Magento version 1.7.0.2 to 1.9.3.8 and Payone version : 3.4.9 to 4.1.7

When i pay using credit card it will show alert
"[1077: Parameter {cardexpiredate} faulty or missing] - Verfallsdatum ungültig. Bitte überprüfen Sie die Angaben auf der Karte."

Can you please guide me.

Thanks

[2018-07-04 08:10] fjbender commented on #227
Hi @hardiklinksture,

I'd recommend that you contact our Technical Support Team at tech.support@bspayone.com or +49 431 25968-500. They can help you with better, as they can scan our logs or offer screen sharing to see where exactly things go wrong.

If it turns out that there is a module bug, you're welcome to reopen the issue here.

[2018-07-04 08:10] #227 closed

[2018-07-05 08:06] #223 closed

[2018-07-06 12:07] gndk opened #230 "Amazon Pay broken by basket-amount check"
88a0ad850f75f6cbd79b2d6fa8a75ce7adbe239c breaks Amazon Pay for me (Line 315-319 in app/code/community/Payone/Core/Model/Service/Amazon/Pay/Checkout.php). The same check does not cause problems for PayPal.

Mage 1.9.3.9 + Payone 4.1.7

I commented out the check for Amazon for the time being but this is obviously just a temporary solution.

Any ideas how to investigate this?

[2018-07-06 12:13] fjbender commented on #230
Amazon Pay was green in our tests for 4.1.7. However, I have some customers reporting issues with Amazon Pay since then.

I'm not quite sure what the angle here could be, to be honest. I suppose that we somehow can't validate the grand total of the order through the session. Do you have any way of tracing the `PayoneGenericpaymentSubtotal` in the checkout session?

[2018-07-09 06:01] sprankhub commented on #199
@gndk Piotr mentioned in a chat that SUPEE-10570v2 does *not* need to be applied to 1.9.3.9. The changes from the v2 patch should be included in 1.9.3.9 without the known issues...

[2018-07-09 12:52] gndk commented on #199
@sprankhub Hm. Maybe the 1.9.3.9 package is wrong then. I downloaded the 1.9.3.9 .zip from magento.com, copied it over my local installation / git-repo, and then deployed. After deployment the old bug reappeared but was fixed by applying the SUPEE-10570v2 patch again.

[2018-07-09 12:55] gndk commented on #199
In the release notes the SUPEE-10570v2 is not listed (but for example for SUPEE-9767v2 the v2 is listed):

[2018-07-16 14:06] fjbender commented on #219
Wir haben jetzt immerhin eine Story für unsere Entwicklung - die Prio ist allerdings nicht so hoch gesetzt worden (aber es geht voran).

[2018-07-18 08:57] zaietsv opened #232 "Payone transaction error (Failed reason -911)"
Payone module occasionally cancels an order bacause of **Failed reason -911**  API responce http://screenshots.collabstar.com/vza/8f714f2b.png. Then it switches order again to a processed status and completes successfull payment http://screenshots.collabstar.com/vza/a79a0fd5.png . It is not possible neither create an invoice nor shipment after the order is canceled. We need to close these ordres d

[2018-07-18 09:02] fjbender commented on #232
Can you give me the transaction ID for one affected transaction so I can simulate the behavior?

Thanks.

[2018-07-18 09:06] zaietsv commented on #232
If you mean Txid, it is txid | 281846060

[2018-07-18 09:07] zaietsv commented on #232
Please, explain me, what does it mean "Failed reason -911" ? Thank you.

[2018-07-18 09:21] fjbender commented on #232
Thanks. This is a rare issue on our platform itself and not a module bug.
Please contact our Technical Support Team and refer to the issue SUPP-11474.

Thanks
Florian

[2018-07-18 09:21] #232 closed

[2018-07-18 10:41] zaietsv commented on #232
Yes, you are quite right: this issue is very rare and very unpleasant because requires direct DB invasion. I think, the module might to have some protect mechanism to avoid of orders cancellation.

[2018-07-18 10:58] sprankhub commented on #230
I have exactly the same issue. Upgrading from PAYONE 4.1.6. to 4.1.7 breaks Amazon Pay. The customer gets the message "Sorry, your transaction with Amazon Pay was not successful. Please try again.".

[2018-07-18 12:39] sprankhub commented on #230
I debugged the issue. In our shop, `Payone_Core_Model_Service_Amazon_Pay_Checkout::chooseMethod ` is never called, so that `PayoneGenericpaymentGrandTotal` is not set in the session at all, so that the check fails.

[2018-07-18 12:44] sprankhub commented on #230
@fjbender any idea when you can check / fix this issue?

[2018-07-18 13:32] fjbender commented on #230
Apparently, `chooseMethod` is only called when there is exactly one shipping option available (https://github.com/PAYONE-GmbH/magento-1/blob/master/app/code/community/Payone/Core/Model/Service/Amazon/Pay/Checkout.php#L183).

@sprankhub Is there more or less than one shipping method available in your setup?

[2018-07-18 13:37] sprankhub commented on #230
I debugged that as well. `$shippingRatesCount` is indeed 1, but obviously, the shipping method is already set correctly (`$this->quote->getShippingAddress()->getShippingMethod() === $params['shippingMethodCode']`). This **may** be related to the extension [https://github.com/ffuenf/Ffuenf_CheckoutHideShipping](Ffuenf_CheckoutHideShipping), which sets a shipping method on the quote quite early. In

[2018-07-18 13:46] fjbender commented on #230
I agree. Will file this as a bug. As of now, I can't say how long it's going to take. I assume this shouldn't be too much work, though.

[2018-07-18 14:49] mad-develop opened #233 "Masterpass checkout button shortcut broken"
I had some PHP errors with the Masterpass Shortcut inside the cart/minicart.

[code]

The problem seems to occur, when masterpass is not configured.
The getMasterpassLibraryUrl function fails cause $config is null
.\app\code\community\Payone\Core\Block\Mastercard\Masterpass\Shortcut.php
Line 115 - 123

Magento Version: 1.9.3.9

Solution:
check config in _beforeToHtml() like its done in the Paypal

[2018-07-19 06:03] fjbender commented on #233
Thanks for the feedback, we should have fixed this already in 819e1823db8cb2cec677e63ebf360a00883e0e06, however, the Pull Request is still pending for QA approval.

[2018-07-19 14:36] Backenkoehler commented on #119
@fjbender Problem is still there. We have a hack for this, running some SQL but it's not acceptable to be honest.
`UPDATE payone_protocol_transactionstatus pa SET pa.processing_status = 'pending' WHERE pa.reference IN (SELECT * FROM (SELECT DISTINCT p.reference FROM payone_protocol_transactionstatus p LEFT JOIN sales_flat_order o ON p.order_id = o.entity_id LEFT JOIN sales_flat_invoice i ON i.orde

[2018-07-20 06:11] fjbender commented on #119
@Backenkoehler Sure, let's have a talk about this. Drop me a line at integrations@bspayone.com and I'll get back to you. :)

[2018-07-22 21:57] zaietsv opened #235 "Payone API error (Failed reason -911)"
Hello!
There is a new incident with Payone API error (Failed reason -911). It looks similar to an issue https://github.com/PAYONE-GmbH/magento-1/issues/232 . Please, pay an attention that it is the second payment failure within last week.
The new failed transaction ID is txid | 282524922

[2018-07-22 22:00] zaietsv commented on #235
PS: Please, find a solution, before closing this task like previous.

[2018-07-23 07:02] fjbender commented on #235
@zaietsv Which version of the extension are you using? The logs show that you're sending a version identifier 3.4.15 which is very old (>2 years).

I tried to reproduce your issue with the current version, and it doesn't appear there. While we didn't address this issue specifically in the past, it seems that we became more tolerant about the `failedcause` parameter.

[2018-07-23 09:15] #233 closed

[2018-07-23 11:04] hardiklinksture opened #236 "Payment method configuration for method "payone_online_bank_transfer" not found"
Hello,
Recently i upgrade magento version 1.7.0.2 to 1.9.3.9 and latest version of payone (4.1.7)
But POSTFINANCE payment method not working on magento default check and onestepcheckout.

If i checkout with default magento then generate below report.

[code]

Thanks in advance.

[2018-07-23 12:08] sprankhub opened #237 "Credit Card Data Not Saved"
Even though we configured that payment data should be saved for credit card payments (`payone_payment/template_creditcard/customer_form_data_save`), the data is not saved. The customer needs to enter it again and again. Any idea why this is the case? Are there any requirements, which need to be fulfilled?

[2018-07-23 12:25] fjbender commented on #236
This seems to be a duplicate of #8.

However, especially when upgrading, our Technical Support Team can walk you through several workaround steps, e.g. re-creating all payment method configurations within the plugin. Please contact them first for detailed help.

Thanks
Florian

[2018-07-23 13:48] fjbender commented on #237
To be honest, I think that feature is a stub. It was introduced before I started working on the Magento module.

We seem to store some encrypted data in the `payone_customers` table, but don't seem to use it anywhere except `\Payone_Core_Block_Payment_Method_Form_Creditcard` but not in full.

From the pre-github era I found out that this feature was introduced before "hosted iFrame" was implemente

[2018-07-23 13:55] sprankhub commented on #237
Thanks for the response. Not the response I wanted to hear, but still ;-)

So... PAYONE does not support the storage of credit card data for future orders!?

[2018-07-23 14:02] fjbender commented on #237
Sorry to disappoint.

You'd be able to build a DIY solution taking the data from the `payone_customer` table. I think the `pseudocardpan` parameter is stored in there which can be used for future orders. We don't have the feature on our roadmap and it probably would take quite some time to get it prioritized.

[2018-07-23 14:08] fjbender commented on #174
This should be fixed with https://github.com/PAYONE-GmbH/magento-1/releases/tag/v4.1.7

@sprankhub Can you confirm?

[2018-07-23 16:29] gndk opened #238 "MySQL protocol tables getting big. Safe to delete older data?"
I noticed the tables payone_protocol_api and payone_protocol_transactionstatus getting quite big (240 and 110mb).

Is it safe to delete data older than, lets say, 30 days in them? Any reason not to?

Maybe a possible feature to add.

[2018-07-24 06:35] fjbender commented on #238
It should be safe to delete any data related to orders that have been completely processed and won't generate any credit memos or the like anymore.

[2018-07-25 06:18] hardiklinksture commented on #236
i check the #8 and i delete old payment method and creating new but i can not find "online_bank_transfer" payment method in new version can you please check my old version screen shot i can see the online_bank_transfer : https://prnt.sc/kaoryx but i can not see in new version please check screen shot : https://prnt.sc/kaos8j

[2018-07-25 07:21] fjbender commented on #236
The `online_bank_transfer` payment method was split up in individual payment methods like `online_bank_transfer_sofort` for Sofort Überweisung. Please use the individual buttons for Sofort, Post Finance, etc. to add individual online bank transfer payment methods.

[2018-07-26 07:09] #221 closed

[2018-07-26 12:38] hardiklinksture commented on #236
I have enabled `New PostFinance E-Finance` and `New PostFinance Card` on our test site with test mode but we are getting an error as below.

<pre>[924: Test mode not available] - Konfigurationsproblem. Bitte verwenden Sie eine andere Zahlungsweise.</pre>

Please check this https://prnt.sc/kbai9c screenshot for more information and let us know how can we test both payment method with test mode?

[2018-07-26 13:19] fjbender commented on #236
Please contact our support team for this, they are able to set you up with a test mode connection to PostFinance.

There is no issue in the module here, so I'll close this.

[2018-07-26 13:19] #236 closed

[2018-07-27 10:43] gndk opened #241 "Masterpass Parse error: syntax error, unexpected end of file"
Parse error: syntax error, unexpected end of file, expecting elseif (T_ELSEIF) or else (T_ELSE) or endif (T_ENDIF) in app/design/frontend/base/default/template/payone/core/mastercard/masterpass/shortcut.phtml on line 76

[2018-07-30 07:58] sprankhub opened #243 "New Release 4.1.8 / 4.2.0"
Quite a lot has [happened since 4.1.7](https://github.com/PAYONE-GmbH/magento-1/compare/v4.1.7...master). Important bugfixes have been included. Could you create a new release? Thanks!

[2018-07-30 08:46] sprankhub commented on #230
Any update @fjbender?

[2018-07-31 06:54] sprankhub commented on #237
I *heard* that it works when using the AJAX request type and not the hosted iframe option. Questions:

1. Is it correct that credit card data is saved and can be re-used when using the AJAX request type?
2. What is the official recommendation for the two request types? When should I use AJAX, when should I use hosted iframe?

[2018-07-31 06:59] hreinberger commented on #230
Hi @sprankhub,
we're currently testing out https://github.com/PAYONE-GmbH/magento-1/pull/242 which looks promising. If you want to, try it out yourself, so we have a real world example.

[2018-07-31 13:41] hreinberger commented on #243
Hi @sprankhub, you're totally right. We're aiming at releasing a new version at the beginning of next week.

[2018-08-01 10:55] sprankhub opened #244 "CC Type Auto Recognition"
We currently use the hosted iframe option and enabled the option `payone_general/payment_creditcard/cc_type_auto_recognition`. It is a nice feature! However, it does not really help. Even though it is enabled, the CC type is requested from the customer first and then the CC number is requested. This means that the customer will always select the type first and then enter his number. It would be mu

[2018-08-02 07:32] zaietsv commented on #235
I have updated the module. Ocassionally our sales are down twice. Let's observe for some time. I'll inform you about unexpected cases.

[2018-08-02 15:33] hreinberger commented on #244
Hi @sprankhub,
I agree, it's a nice feature, but it's not very visible in the frontend. Of course you could always customize your template to tell the customer that he or she only needs to input the card number, but maybe we can find a simple solution to make this feature more visible.
@fjbender any ideas?

[2018-08-06 11:31] fjbender commented on #237
I can't confirm for sure, that credit card data (card tokens, to be exact) are saved in the encrypted bits of the `payone_customer` table as I haven't figured out how to decrypt them manually. I tried to use it that way with no success, however.

Generally, whether you'll have to use AJAX or hosted iframe depends on your level of PCI compliance. Merchants with the "standard" level of PCI complianc

[2018-08-06 11:33] fjbender commented on #241
Fixed with #246

[2018-08-06 11:33] #241 closed

[2018-08-07 12:07] fjbender commented on #220
Moin @Schrank, wir haben das "einfach" mit einer Codebewegung in #239 gelöst und es klappt dann auch mit der Warenkorbregel.

Willst du das nochmal kurz gegentesten? Wir konnten da keine weiteren Merkwürdigkeiten feststellen.

[2018-08-07 13:15] fjbender commented on #230
Fixed with #242

[2018-08-07 13:15] #230 closed

[2018-08-07 13:16] #220 closed

[2018-08-07 13:48] zaietsv opened #249 "Payone_creditcard duplicted records"
After update a Payone module generates in a some unknown way duplicated records of a "creditcard" payment method. Sometimes it is unable to extract the payment method data by id because there are two different ids for the same method http://screenshots.collabstar.com/vza/2441e4b9.png . These exceptions are registered in payone_protocol_transactionstatus/processing_error [local@localhost] http://sc

[2018-08-07 13:58] fjbender commented on #249
From which version to which did you update?

Does it help to manually set the `payone_config_payment_method_id` in the `sales_flat_order_payment` table to the new corresponding id?

[2018-08-07 14:05] zaietsv commented on #249
As it has been mentioned in https://github.com/PAYONE-GmbH/magento-1/issues/235, the previous version was 3.4.15 . Now I have deleted the duplicated records and I am waiting for positive results.

[2018-08-08 11:10] zaietsv opened #251 "Unable to create orders at multistore view"
It is impossible to made orders at multistore view because Payone stores a parameter payone_config_payment_method.mode as "null" at multistore configuration http://screenshots.collabstar.com/vza/8fda9e5d.png . Then reads it as empty string instead of "live" or "test" and fails it's own validation http://screenshots.collabstar.com/vza/00cfafe6.png .

[2018-08-08 11:12] zaietsv commented on #251
And now I know exactly that your update has been failed down to 50% our sales within last 8 days. Thank you for this!

[2018-08-08 11:15] zaietsv commented on #249
Feedback: I have changed all old ids to new Ids. It seems working as well new as old orders http://screenshots.collabstar.com/vza/106a74b0.png

[2018-08-09 06:13] fjbender commented on #249
Good to hear it's working now.

[2018-08-09 06:13] #249 closed

[2018-08-09 06:17] fjbender commented on #251
Sorry that the update broke the multistore config.

In my configuration, the `payone_config_payment_method.mode` is `NULL` for all scopes except default. However, multistore works with that in my system.

[2018-08-09 06:25] sprankhub commented on #243
Beginning of next week already passed :-/

[2018-08-09 06:41] hreinberger commented on #243
Hi @sprankhub we're currently testing the release but found a few issues which we want to fix before the update. They're quite minor so I'm not expecting a long delay. We'll call it 4.2.0 btw

[2018-08-09 07:07] hreinberger commented on #244
Hi @sprankhub, I like your suggestion. That should be easy enough to do without breaking compatibility for custom templates.

[2018-08-09 07:10] sprankhub commented on #244
Is the auto recognition good enough, so that one could disable the CC type dropdown? IMHO, setting it automatically and having a possibility to change it manually does not make any sense if the auto recognition works good enough.

[2018-08-09 07:27] sprankhub commented on #237
Could you please

1. confirm that credit card data is definitely saved and re-used when using the AJAX mode?
2. try to get credit card storage / re-usage implemented when using the hosted iframe option as well?

IMHO, this is a quite important feature, which makes the extension much more valuable.

Thanks!

[2018-08-09 08:27] #238 closed

[2018-08-09 09:16] fjbender commented on #219
Soo, ich habe mich jetzt mit einem unserer Entwickler hier ganz schön lange durchgewühlt und wir können es nicht systematisch reproduzieren. Auf manchen Systemen wird das Cookie gesetzt, auf manchen nicht. Wir haben einige Logs durchwühlt, fanden aber keinen passenden `Set-Cookie` Header, um es auf einen speziellen Request gegen secure.pay1.de einzugrenzen.

Hast du zufällig herausgefunden, bei we

[2018-08-09 14:58] zaietsv opened #254 "An order is paid, but an invoice still waiting for payment"
Hello!
There are several orders for today where orders are paid, but invoices are still pending for payment.
For example http://screenshots.collabstar.com/vza/42d55822.png and
http://screenshots.collabstar.com/vza/fb1a8096.png
It is not possible to capture these invoices from admin account due an error
[950: Desired status change not possible for this payment process] - An error occured while proc

[2018-08-10 15:08] fjbender commented on #254
This depends on the exact circumstances of the transaction and you configuration. I wouldn't suspect a module bug here at first sight. Our Technical Support Team will gladly check your setup and see were things go wrong.

[2018-08-13 07:27] zaietsv commented on #254
Hello! Thank you for your support! Please, specify which way I can give you an access credentials. I currently able to provide you an admin account and in a brief time to create a secure filesystem access.

[2018-08-13 07:46] mcandian opened #257 "Bug bei abgebrochener Bezahlung"
Hallo,

wir haben aktuell ein Problem bei abgebrochenen Bezahlungen (zum Beispiel bei Giropay oder Sofort), die erneut bestellt werden.

**Voraussetzungen**
- E-Mailbestätigung bei der Registrierung

**Reproduktionsschritte**
1. Zur Kasse gehen mit "Bestellen und Registrieren"
2. Bei Zahlungsarten Giropay oder Sofort auswählen
3. Bestellung absenden
4. Bei Giropay oder Sofort die Zahlung abbrechen

[2018-08-13 11:39] hreinberger commented on #257
Hallo @mcandian,

vielen Dank für die ausführliche Beschreibung! Ich habe mal versucht, das Verhalten nachzustellen. Allerdings unterscheidet sich das Verhalten bei mir (Magento 1.9.3.9, Version 4.1.7 des Moduls, keine weiteren Module aktiv, Standardtemplate).

Breche ich bei Sofort den Kauf ab (über den "Abbrechen und zurück zum Händler" Link), lande ich erneut im Checkout. Dann bestelle ich als

[2018-08-13 13:25] fjbender commented on #254
Please contact our Technical Support team at tech.support@bspayone.com or by phone +49 431 25968-500, they'll walk you through the process. Here at Github we can only provide assistance for general module bugs.

[2018-08-15 08:09] zaietsv commented on #254
Hello again! After communication with payone support I have revised our cronjobs schedule and i can assume that "payone_core_cronjob_transactionstatus_process" really has ocassional delays in it's execution.
http://screenshots.collabstar.com/vza/fd126807.png http://screenshots.collabstar.com/vza/7c99d1a8.png

Could you, please, advice possible causes of a such Payone module behavior and places, wh

[2018-08-16 13:51] fjbender commented on #254
I can only assume it would be fruitful to start from `\Payone_Core_Model_Cronjob_TransactionStatus_Worker` and work your way down from there. The actual work is being done in `\Payone_Core_Model_Service_TransactionStatus_Execute`

[2018-08-16 14:53] zaietsv commented on #254
Today there was a new case, when an invoice hasn't been created while execution of an payone cron task "payone_core_cronjob_transactionstatus_process" http://screenshots.collabstar.com/vza/e80de821.png . This invoice is h=depicted at the next screnshot http://screenshots.collabstar.com/vza/4a35ec1e.png .
I have managed to set up different logs in the Payone module and to capture a place, where the

[2018-08-16 15:40] zaietsv commented on #254
At present time I am debugging this place http://screenshots.collabstar.com/vza/42eff07f.png But you also could to made your contribution in your module whatever you have any ideas.

[2018-08-17 06:48] fjbender commented on #254
Thank you for the detailed insights, this is very helpful!

I suppose this will probably go in the direction of #119, which has been haunting us for quite some time. In #119 we identified DB deadlocks to be the cause for this. Is this consistent with your findings?

[2018-08-17 07:40] zaietsv commented on #254
Yes, a task #119 has the same origin. I think, it is not depends on db locks. There are some cases when Config loads payment methods in "store" scope, but searches a method by Id from website scope. For example, our store view 1 uses a store method number 99, but the module searches a website method number 98
http://screenshots.collabstar.com/vza/715a9095.png
Of course, there is possible a revert

[2018-08-17 09:12] zaietsv commented on #251
This one works after distributing columns values "payone_config_payment_method.mode" and "payone_config_payment_method.aid" values to all rows http://screenshots.collabstar.com/vza/318d0c3d.png

[2018-08-17 23:09] zaietsv commented on #254
I have some ideas about the cache behavior. I have created an extension which fixes this issue, as I hope. Now it requires some tests at a live environment.

[2018-08-17 23:09] zaietsv commented on #119
I have some ideas about the cache behavior. I have created an extension which fixes this issue, as I hope. Now it requires some tests at a live environment.

[2018-08-19 12:53] #251 closed

[2018-08-19 12:55] fjbender commented on #254
That sounds promising! Would you share the extension with us so the community can help you in validating your findings?

[2018-08-20 08:55] zaietsv commented on #254
There is a method Payone_Core_Model_Factory->getConfigProxyMode() which always calls a null-store configuration which falls back to a website configuration. If a configuration cache is clear at that moment, it caches this website configuration under a cache key "store_1_payone_config_cache". Every next method wich calls a "1-store" configuration obtains a cached "null-store" configuration since th

[2018-08-20 08:55] zaietsv commented on #119
There is a method Payone_Core_Model_Factory->getConfigProxyMode() which always calls a null-store configuration which falls back to a website configuration. If a configuration cache is clear at that moment, it caches this website configuration under a cache key "store_1_payone_config_cache". Every next method wich calls a "1-store" configuration obtains a cached "null-store" configuration since th

[2018-08-27 07:07] fjbender commented on #119
@zaietsv Thanks, this sounds very reasonable for me!

@loswochos @Backenkoehler @tniebergall Can you weigh in on this?

[2018-08-27 08:29] sprankhub commented on #243
Any update @hreinberger?

[2018-08-27 10:54] fjbender commented on #243
Unfortunately, the release is still blocked by #258 :/

[2018-08-28 19:48] Backenkoehler commented on #119
@fjbender we are open to test this.
@zaietsv do you have a repo for this?

[2018-08-29 07:27] zaietsv commented on #119
@Backenkoehler Currently I haven't a separate module for this rewrite at this moment. Generally it is only a hot-fix for a Payone native module and mr. @fjbender will kindly provide a regular fix there. I can make a repository if you really need a separate module.

[2018-08-29 09:03] Backenkoehler commented on #119
@zaietsv Ok, no problem. I guess there is a !== missing in your code (first if-clause)

[2018-08-29 09:15] zaietsv commented on #119
@Backenkoehler I use exactly the same code at production and it works http://screenshots.collabstar.com/vza/a8f0047a.png

[2018-08-29 12:19] fjbender commented on #119
@zaietsv Can you create a pull request with your changes? We'll then work it through with affected users and our QA team.

Thanks for your help on this one!

[2018-08-29 16:04] Backenkoehler commented on #119
@zaietsv Without testing I would expect always haveing $storeId = 'NULL' because the first clause is true too but the variable gets overridden.

I have to test it, this are just my thoughts after looking at the code.

[2018-09-03 08:30] sprankhub commented on #237
Any update @fjbender?

[2018-09-03 08:31] sprankhub commented on #243
#258 is now merged. So I have to bug you again: Any update?

[2018-09-05 12:27] hreinberger commented on #244
So in our latest release we improved this feature by rearranging the card type selector. We also made the selector optional for maximum convenience. There's a new configuration toggle for the card type, so a merchant with custom or exotic card types can still leave the card type selector in for maximum compativility.  Thanks for your input, that helped a ton!

[2018-09-05 12:27] #244 closed

[2018-09-05 13:16] sprankhub opened #263 "Unnecessary Template Changes"
In https://github.com/PAYONE-GmbH/magento-1/commit/25ad01cd76284e454b7f530138eabead45f6203b#diff-e389e00935af25b1a4260a721cc08ef7, all (or at least many) PayPal Express templates have been changed to PAYONE-specific templates. I compared the PAYONE templates with the ones from `base/default`. The only difference is the type hint (a comment!). With that change, you break many themes, which have cus

[2018-09-05 13:26] sprankhub opened #265 "Broken Template Reference"
https://github.com/PAYONE-GmbH/magento-1/blob/71db068e6a9e6d388d2f7df938bce27933645c46/app/design/frontend/base/default/layout/payone/core.xml#L52-L53

The template `payone/core/paypal/express/review/address.phtml` does not exist.

[2018-09-10 09:58] fjbender commented on #263
Seems also unnecessary to me, we'll fix this.

[2018-09-10 09:58] fjbender commented on #265
We'll fix this.

[2018-09-14 09:56] fjbender commented on #8
Es gibt einen möglichen Workaround. Ein Nutzer hat herausgefunden, dass möglicherweise die Cache-Schicht Schuld ist und dort falsche Daten vorgehalten werden. Wir wissen noch nicht, wie das zu Stande kommt, allerdings funktioniert alles stabil, wenn man den Cache einfach kurzschließt. In der Datei app/code/community/Payone/Core/Model/Service/InitializeConfig.php die Methode `loadFromCache()` so mo

[2018-09-14 10:08] sprankhub commented on #244
Thanks! We just updated and it seems to work. Would it make sense to show / respect the option "Hide the credit card type selector" only if the option "Enable Credit Card type auto recognition" is enabled? Otherwise, it probably does not work, right?

[2018-09-17 09:14] fjbender commented on #263
#266 should fix this

[2018-09-19 14:58] sprankhub commented on #174
I have a similar issue now with version 4.2.0, which looks related:

![image](https://user-images.githubusercontent.com/930199/45761670-f8969080-bc2c-11e8-9140-a5753fe9c03a.png)

It is basically the same: The order is cancelled, but the payment is confirmed afterwards. The only difference now is that the order stays in the canceled status. Any idea what that is?

[2018-09-21 09:56] fjbender commented on #174
We didn't change anything here willingly. The only PR I could find remotely touching this subject is #260, but this shouldn't become active here.

However, I was unable to reproduce this behavior.

[2018-09-21 12:58] sprankhub opened #267 "Wrong Creditmemo Amount"
My customer says that after updating to 4.2.0, the amounts refunded at PAYONE when creating creditmemos are wrong. An example TXID would be 291841823. Even though just a small amount of the order has been refunded in Magento (1 of 5 products), the whole order amount has been refunded at PAYONE. The PAYONE tech support says that they can only see the full refund amount on PAYONE side.

This issue h

[2018-09-21 13:40] fjbender commented on #267
I tried to reproduce this with PayPal in various settings (preauth/capture/debit, auth/debit, both with and without basket submission) but the debit amounts were always correct. I was using Magento 1.9.3.9 and Payone 4.2.0, the same as your customer. Anything that might be different in your setup?

[2018-09-21 14:58] sprankhub commented on #267
Nothing that I know of. I sent some screenshots and the config export to the technical support. Hope they can help.

[2018-09-24 09:14] sprankhub commented on #237
Any update?

[2018-09-24 09:59] fjbender commented on #263
Is #266 fine now? Thanks for your help on this!

[2018-09-24 10:07] sprankhub commented on #263
Added my review now @fjbender.

[2018-09-24 10:52] #263 closed

[2018-09-24 10:56] hreinberger commented on #237
I did some research on this. We do store card data for customers in the `payone_customer` table in the `customer_data` field. I triggered an order using hosted iFrame and decrypted the value using [this script](http://magetricks.com/tricks/decrypt-any-md5-hashed-value-stored-in-magentos-db).

The available info includes the credit card type, truncated cardpan, pseudocardpan (yay) and cc owner. How

[2018-09-24 11:28] sprankhub commented on #237
Awesome news! Looking forward to it. Hope this is not a "some time in the future", but a "we want to implement that in the next month" thing :-)

[2018-09-28 08:17] sprankhub opened #269 "Transactionstatus 404 When Using Store Codes In Urls"
If you activate the option `web/url/use_store` / "Add Store Code to Urls", the transaction status does not work correctly. So for example, let us consider you have a store with code `de` and one with code `en`. Then the DE store - given the above mentioned configuration - runs under https://www.store.com/de/. Hence, the transaction status would need to be sent to https://www.store.com/de/payone_co

[2018-09-28 12:42] fjbender commented on #269
The Transaction Status URL is not set in the plugin, but in the Payone Merchtant Interface in the payment portal configuration (PMI > Konfiguration > Zahlungsportale > Zahlungsportal > Erweitert). It should be set to https://www.store.com/de/payone_core/transactionStatus there.

[2018-09-28 13:50] sprankhub commented on #269
Ahh sorry for that! Then I would need to create two payment portals - one for DE and one for EN and set the URLs accordingly, right?

[2018-09-28 13:52] sprankhub commented on #269
I cannot edit the URL in the payment portal settings. All fields are disabled...? Do I need to delete the portal and create a new one?

[2018-09-28 13:58] fjbender commented on #269
You can create two payment portals, but perhaps it works also when using the same URL for both sub-shops.
You shouldn't delete the portal, that'll basically destroy a lot of open transactions. Maybe you don't have the sufficient rights to change the URL (e.g. when your customer created a second account for you). Our service team should be able to help with that.

[2018-09-28 14:27] #269 closed

[2018-09-29 05:59] Schrank opened #270 "Paypal Express place order doesn't dispatch `checkout_submit_all_after`"
We just activated Paypal Express Button and have strange behaviour

`\Payone_Core_Model_Service_Paypal_Express_Checkout::place` doesn't dispatch any event.

`\Payone_Core_Model_Service_Amazon_Pay_Checkout::placeOrder` does.

I'm trying to add a PR.

[2018-09-29 06:02] Schrank commented on #270
Already fixed <3

[2018-09-29 06:02] #270 closed

[2018-10-08 10:54] #237 closed

[2018-10-08 13:12] sprankhub commented on #237
Awesome news - thanks @hreinberger! Do you have a screenshot available how this feature looks like?

[2018-10-08 13:42] hreinberger commented on #237
Hi @sprankhub
this is what it looks like when using hosted iFrame:
![grafik](https://user-images.githubusercontent.com/40197225/46612365-9a185000-cb10-11e8-84dc-d5a8d5c36f51.png)

[2018-10-15 09:48] dennismax commented on #121
Wir haben es folgendermaßen gelöst:

- Extension so umgebaut, dass bei der Übertragung an PayOne die Menge auf 1 gesetzt wird
- der Text wird dabei neu berechnet und mit "Menge: <ursprüngliche Menge>" ergänzt. Der Artikeltext wird dabei so gekürzt, dass die Mengenangabe sicher mit auf der Rechnung erscheint.
- dadurch werden die Preise pro Zeile korrekt abgebildet und übertragen.
- Vorteil: die Än

[2018-10-16 10:58] sprankhub commented on #237
Awesome, thanks! When can we expect a new release with this feature?

[2018-10-17 08:03] fjbender commented on #121
@dennismax Das klingt sehr gut, vielen Dank für die Idee! Kannst du uns dafür einen PR oder zumindest einen groben Ansatz zur Verfügung stellen?

[2018-10-17 08:28] sprankhub opened #273 "Do Not Use MyISAM as Table Engine"
Currently, the table `payone_payment_ban` uses `MyISAM` as a table engine, which is superseded by `InnoDB`. Please change the engine of the table to `InnoDB`.

https://github.com/PAYONE-GmbH/magento-1/blob/bf11526559ed6e91b071ddf0df145a56babd3226/app/code/community/Payone/Core/sql/payone_core_setup/mysql4-upgrade-4.1.1-4.1.2.php#L106
https://github.com/PAYONE-GmbH/magento-1/blob/bf11526559ed6e91b0

[2018-10-17 09:07] fjbender commented on #273
Thanks, we'll take a look. Should be a no-brainer, I guess.

[2018-10-18 10:49] sprankhub opened #274 "Include CSS Only If Needed"
Currently, the CSS files `payone/core/amazonpay_button.css` and `payone/core/masterpass.css` are included on every page:

https://github.com/PAYONE-GmbH/magento-1/blob/bf11526559ed6e91b071ddf0df145a56babd3226/app/design/frontend/base/default/layout/payone/core.xml#L172-L173

First, I think they should only be included if the respective payment method is active. Second, I am not sure if the CSS is

[2018-10-18 13:59] sprankhub opened #276 "Broken JS Reference If Payolution Not Used"
https://github.com/PAYONE-GmbH/magento-1/commit/dbc695d08fd2036f9593becaf662dff9def7fc58 leads to a broken JS reference if Payolution is not used:

    <script type="text/javascript" src="https://www.shop.com/js/"></script>

[2018-10-18 14:08] hreinberger commented on #274
sounds reasonable, we'll have a look. thanks!

[2018-10-22 09:44] sprankhub commented on #267
I found the issue. You introduced this in https://github.com/PAYONE-GmbH/magento-1/commit/402ddd969099af93b10f1d6573791fbdc54cd89f:

https://github.com/PAYONE-GmbH/magento-1/blob/bf11526559ed6e91b071ddf0df145a56babd3226/app/code/community/Payone/Core/Model/Mapper/ApiRequest/Payment/Debit.php#L124-L127

So if you set the option `payone_general/global/currency_convert` to `1`, the full order amount

[2018-10-22 10:07] sprankhub commented on #267
I found the issue. In https://github.com/PAYONE-GmbH/magento-1/commit/402ddd969099af93b10f1d6573791fbdc54cd89f, you introduced this:

https://github.com/PAYONE-GmbH/magento-1/blob/bf11526559ed6e91b071ddf0df145a56babd3226/app/code/community/Payone/Core/Model/Mapper/ApiRequest/Payment/Debit.php#L124-L127

So if you set the config `payone_general/global/currency_convert` to `1`, the grand total will

[2018-10-22 10:07] sprankhub commented on #267
I found the issue. In https://github.com/PAYONE-GmbH/magento-1/commit/402ddd969099af93b10f1d6573791fbdc54cd89f, you introduced this:

https://github.com/PAYONE-GmbH/magento-1/blob/bf11526559ed6e91b071ddf0df145a56babd3226/app/code/community/Payone/Core/Model/Mapper/ApiRequest/Payment/Debit.php#L124-L127

So if you set the config `payone_general/global/currency_convert` to `1`, the grand total will

[2018-10-22 10:08] sprankhub commented on #267
I found the issue. In https://github.com/PAYONE-GmbH/magento-1/commit/402ddd969099af93b10f1d6573791fbdc54cd89f, you introduced this:

https://github.com/PAYONE-GmbH/magento-1/blob/bf11526559ed6e91b071ddf0df145a56babd3226/app/code/community/Payone/Core/Model/Mapper/ApiRequest/Payment/Debit.php#L124-L127

So if you set the config `payone_general/global/currency_convert` to `1`, the grand total will

[2018-10-22 10:10] sprankhub commented on #267
I found the issue. In https://github.com/PAYONE-GmbH/magento-1/commit/402ddd969099af93b10f1d6573791fbdc54cd89f, you introduced this:

https://github.com/PAYONE-GmbH/magento-1/blob/bf11526559ed6e91b071ddf0df145a56babd3226/app/code/community/Payone/Core/Model/Mapper/ApiRequest/Payment/Debit.php#L124-L127

So if you set the config `payone_general/global/currency_convert` to `1`, the grand total will

[2018-10-23 14:00] fjbender commented on #267
Many thanks! We'll fix this.

[2018-10-24 13:06] sprankhub opened #277 "Pre-Fill Name For CC Payments"
Could you pre-fill the name fields for CC payments? You should be able to retrieve the name from the address IMHO. This would improve the UX.

[2018-10-24 13:07] sprankhub opened #278 "Merge Name Fields For CC Payments"
For customers, it is much smoother to only have one name field. It is annoying to fill the pre- and surname in separate fields. Could you merge the two input fields into one? This would improve the UX.

[2018-10-25 10:21] sprankhub commented on #277
Why did you assign me here, @fjbender?

[2018-10-25 11:11] fjbender commented on #277
My mistake, sorry. @hreinberger is on it.

[2018-10-25 15:43] #273 closed

[2018-10-26 09:47] hreinberger commented on #277
So here's the thing about the cardholder name:
* our API doesn't require it
* our magento 1 extension doesn't even send this data to our API
* There's no way for us to validate if a name and cardpan match
* the cardholder can differ from the billing name (business cards, card of your spouse etc.)

So I kinda want to get of rid of these fields to streamline the checkout instead of storing data in t

[2018-10-26 09:50] hreinberger commented on #278
we'll continue this in #277

[2018-10-26 09:50] #278 closed

[2018-10-26 09:56] sprankhub commented on #277
Oh wow, interesting news :-) I think not asking for the name at all would be best for the customer. If you do not need and use it anyway, there is no reason to ask for it.

So if the field is not required and used at all, we should be able to simply hide the fields until you implemented this in your module, right?

[2018-10-26 09:56] borishaefele commented on #277
that would be extremely helpful from a customer perspective!

[2018-10-26 10:00] hreinberger commented on #277
@sprankhub I haven't really tested what happens when you hide these fields. Maybe the extension is wired up in a way that this would break the payment. But from the viewpoint of our API there's no need to submit cardholder data to complete a payment.

[2018-11-02 12:32] #274 closed

[2018-11-02 14:06] sebastianwindau opened #283 "non-unique id for payone_online_bank_transfer_idl_config_id"
The Template onlinebanktransferidl.phtml uses the same id twice (l. 53+59). This causes to an error in JS.
`<input type="hidden" name="payment[payone_config_payment_method_id]"
                       id="<?php echo $code ?>_config_id" value="<?php echo $paymentConfigId; ?>"/>`
https://github.com/PAYONE-GmbH/magento-1/blob/master/app/design/frontend/base/default/template/payone/core/payment/method/

[2018-11-03 15:51] HKSHendrikLegge commented on #174
I could observe that between the release of Version 4.2.0 and now the problems less often occurred. Only into the last two weeks the problems occurred more times again. may have been something changed by payone here which let the problems occurred less times in this time window?

[2018-11-05 08:32] fjbender commented on #174
@HKSHendrikLegge Did you update to the current master? Or are you suspecting a platform change?

[2018-11-05 14:01] sebastianwindau commented on #283
@hreinberger we are using iDeal. We addet it via the payone payment configuration in the magento backend. The payment type is: "online_bank_transfer_idl". So the template onlinebanktransferidl.phtml is used for this payment method.
Google Chrome throws the following message:
`[DOM] Found 2 elements with non-unique id #payone_online_bank_transfer_idl_config_id: (More info: https://goo.gl/9p2vKq) <i

[2018-11-07 08:32] Backenkoehler opened #285 "PHP Warning on Creditcard CVC Length"
We currently have a lot of warnings:
PHP Warning:  in_array() expects parameter 2 to be array, null given in app/code/community/Payone/Core/Block/Payment/Method/Form/Creditcard.php on line 528

We are on Version 4.2.0. Can please take a look, I know it's not really a bug but pretty annoying in development and if you run automated tests.

[2018-11-07 12:40] fjbender commented on #285
@hreinberger see https://github.com/PAYONE-GmbH/magento-1/blob/e48b3fdad3268bb44421019e3a3b35cc8c292858/app/code/community/Payone/Core/Block/Payment/Method/Form/Creditcard.php#L525-L531

This was introduced with e5e8a80bf40d1ad97182ee9db1041ed766f881e1 from MAGE-365. Should be easy to check `$hidden` for `NULL`.

[2018-11-07 13:55] sprankhub opened #286 "PAYONE Payment Method, But No Method ID Set"
I have some cases in `sales_flat_quote_payment`, where a PAYONE method is set, but no `payone_config_payment_method_id` is set. This should not occur at all, right? So theoretically, the following SQL query should return no results at all, right?

    SELECT COUNT(*) FROM `sales_flat_quote_payment` WHERE `method` LIKE '%payone%' AND `payone_config_payment_method_id` = 0;

In our case, approx. 850

[2018-11-07 14:01] fjbender commented on #286
I suppose this is very related with if not a duplicate of #8. In https://github.com/PAYONE-GmbH/magento-1/issues/8#issuecomment-421301561 we have a possible hint at what the root cause might be. Maybe hot-wiring the cache layer as described there is an option?

[2018-11-07 14:15] sprankhub commented on #286
Thanks for your fast response!

I do not think so. What fails in our case is `Payone_Core_Helper_Config::getConfigPaymentMethodByQuote`, which is called by the progress block `Mage_Checkout_Block_Onepage_Progress`. This simply reads the `payone_config_payment_method_id` from the quote and fails if it is not set / is `0`. The question is why the method ID is not set in the database. I understand th

[2018-11-07 16:31] fjbender commented on #286
I still think this is somehow related to #8, maybe it causes it. #8 occurs a little later down the road, I think. And I strongly have the feeling that this is somehow related to the caching layer.

I'll close this one for now and continue the investigation in #8.

[2018-11-07 16:32] fjbender commented on #8
In #286 is noch aufgekommen, dass dieses Problem u.U. schon am quote auftaucht.

[2018-11-08 08:06] fjbender commented on #267
I think we'll hit a brick wall here with multiple refunds, due to a Magento Core bug.

In `app/code/core/Mage/Sales/Model/Order/Creditmemo/Total/Tax.php` it says:

[code]

This results in wrong amounts from the second credit memo onwards, which will get rejected by the Payone API.

We're not inclined to provide a workaround here, as it will surely get veeeery messy.

We'd probably merge #280 anywa

[2018-11-08 11:57] sprankhub commented on #286
I think I found out what the issue is. The issue occurs when a customer has already ordered something via PAYONE in the past, then goes to the payment step, but does not complete the order. In this case, you set the last payment method on the quote again (column `method` in `sales_flat_quote_payment`), so that it is automatically selected (which is good!), but you do not set the method ID (column

[2018-11-08 12:06] fjbender commented on #286
Thanks, we'll take a look!

[2018-11-08 13:01] sprankhub commented on #267
Getting this into the M1 core is probably desperate. But I opened a pull request for the Magento LTS project at least (see above).

Good news: This is already fixed in the [M2 core](https://github.com/magento/magento2/blob/d7012b2ca1495676478d8afed8bf016ccd03bc8a/app/code/Magento/Sales/Model/Order/Creditmemo/Total/Tax.php#L45).

[2018-11-08 13:02] sprankhub commented on #286
Awesome. Sorry for being pushy, but could you give a rough estimate, when you will be able to check this in detail? Thanks!

[2018-11-08 13:56] fjbender commented on #286
The ticket is currently being investigated.

[2018-11-08 15:57] fjbender commented on #286
@sprankhub #287 is being assigned to QA now.

[2018-11-08 16:07] sprankhub commented on #286
Thanks @fjbender! This looks quite promising :)

[2018-11-08 16:12] axe1987 opened #288 "Amazonpay Controller - totals collected flag"
Hallo,

ich versuche das Payone Modul (version 4.2.1) in eines unserer Magento Systeme zu integrieren.
Leider habe ich ein paar Probleme damit.

Ich habe eine Warenkorbpreisregel das Produkte ab Warenkorbwert 500 jeweils 5% erhalten.
Die Anzeige im Magento Warenkorb ist soweit korrekt.

Produkt A mit Preis 599 erhält den 5% Rabatt (29,95).
Gehe ich in den Amazon Checkout dann erhält das Produkt ab

[2018-11-09 06:41] fjbender commented on #288
Danke für die ausführliche Analyse!
@hreinberger Sieht auf den ersten Blick für mich auch merkwürdig aus. Kannst du mit Vincent mal drauf schauen?

[2018-11-09 08:34] hreinberger commented on #288
schauen wir uns an!

[2018-11-09 14:31] hreinberger commented on #288
hmmmm also ich kann das Thema mit dem aktuellen master auf einem Magento 1.9.10 bisher nicht reproduzieren. Das habe ich gemacht:

- Warenkorbregel mit den Bedingungen WENN "Zwischensumme größer gleich als 500" DANN 5% Prozentualer Rabatt je Artikel
- Artikel mit Preis >500€ in den Warenkorb legen und Warenkorb anzeigen
- Rabatt wird im Warenkorb berechnet
- Amazon Pay Button betätigen und Checkou

[2018-11-09 14:39] axe1987 commented on #288
Ein Unterschied ist noch das wir Magento Version 1.9.3.0 nutzen.

Wenn es nicht an der Magento version liegt, muss ich schauen ob wir irgendwelche Plugins im Einsatz haben die an der Berechnung mitwirken.
Sind da irgendwelche Probleme bekannt @hreinberger ?

Grüße axe1987

[2018-11-09 14:45] borishaefele commented on #153
Hi, gibt's hier irgendwelche Neuigkeiten von Amazon in der Zwischenzeit? Ist ja jetzt schon ne Weile her. Wäre für Kunden extrem wichtig, da Amazon Pay sehr intensiv genutzt wird.

[2018-11-12 09:14] hreinberger commented on #288
Hi @axe1987
auch mit einem 1.9.3.0 kann ich das Verhalten nicht nachstellen. Dann sollten wir individueller in die Analyse einsteigen.

Bitte schicke einmal einen Konfigurationsexport aus dem Magento Backend (PAYONE --> Konfiguration --> Konfiguration exportieren) an die Kollegen vom Tech Support (tech.support[ät]bspayone.om). Verweise dabei gerne auf diesen Thread. Im Konfigurationsexport steckt

[2018-11-12 10:02] quintessence-vogt opened #291 "Duration support Payone extension for Magento 1.x"
Dear Payone Team,

we are pleasantly using your Payone extension for many years in our Magento Shop (1.9.1.0).

Since Magento has announced that they will stop supporting Magento 1.x mid 2020 we have to decide what to do. There is the option that an external company (https://mage-one.com/) takes care of the Magento 1.x core regarding security issues, however this does not cover the extensions. Cou

[2018-11-12 10:43] quintessence-vogt commented on #291
Hi,

thanks for the quick reply! We are using Magento Community Edition (not Enterprise) 1.9.1.0. Does this change anything regarding your reply?

You said that you will provide security updates as long as enough merchants will be using the integration. Could you please tell me how long  in advance you will inform us, before the security support will be stopped? Since migrationg from Magento 1.x t

[2018-11-12 10:45] fjbender commented on #291
We'll support the corresponding CE as well.

I can't pinpoint a timeframe as of now. We're aware that migrating will take a lot of time and effort for our merchants, thus we'll at least plan 12 months in advance.

[2018-11-12 10:46] quintessence-vogt commented on #291
Thanks alot!

[2018-11-12 10:56] quintessence-vogt commented on #291
One more question: All payment options (including Paypal and Amazon Pay) will be supported, correct?

[2018-11-12 15:22] fjbender commented on #291
Correct, unless the vendors somehow prohibit usage with legacy systems. This is currently not the case.

[2018-11-13 07:55] axe1987 commented on #288
Habe die Konfigurationsdatei an Payone gesendet.
Sobald ich mehr weiß aktualisiere ich den Thread.

Grüße
axe1987

[2018-11-13 08:18] sprankhub opened #292 "New Release 4.2.1 / 4.3.0"
Quite a lot has happened since 4.2.0. Important bugfixes and cool features (credit card save ftw) have been included. Could you create a new release? Thanks!

[2018-11-13 08:47] user-1982 opened #293 "Security issues since Release 3.4.5?"
Has there been any security fixes since release 3.4.5?

https://github.com/PAYONE-GmbH/magento-1/releases provides only information beginning with 3.5.9. As far as I can see there has been no security issues since then.

Thanks!

[2018-11-13 09:30] fjbender commented on #293
We didn't have any security issues in the past. However, PCI DSS regulation has changed, so very old versions might not be PCI compliant.

[2018-11-13 10:02] quintessence-vogt commented on #293
Thanks for the quick reply! Who could tell me if version 3.4.5 ist still compliant? Technical e-commerce support from the page: https://www.bspayone.com/DE/de/contact-germany ?

[2018-11-13 10:04] user-1982 commented on #293
Thanks for the quick reply! Who could tell me, if version 3.4.5 is still compliant, technical e-commerce support on page https://www.bspayone.com/DE/de/contact-germany ?

[2018-11-13 10:11] fjbender commented on #293
Yes, they can check your page directly and see whether you have the correct setup.

[2018-11-13 12:32] fjbender commented on #292
@hreinberger, can you schedule a release?

[2018-11-14 07:53] sprankhub commented on #277
@hreinberger status? Are you currently working on removing the name fields altogether?

[2018-11-14 07:54] sprankhub commented on #276
Status? This is clearly a bug.

[2018-11-14 07:55] #265 closed

[2018-11-14 10:43] sprankhub opened #294 "jQuery Dependency"
You include jQuery if Masterpass is used:

https://github.com/PAYONE-GmbH/magento-1/blob/ddb733b63060a72cb537a62677f156dedcb52301/app/design/frontend/base/default/template/payone/core/mastercard/masterpass/review.phtml#L30

However, you also use jQuery at other places like Amazon Pay or Ratepay or CC. See https://github.com/PAYONE-GmbH/magento-1/search?q=jquery&type=Code. You should remove these j

[2018-11-14 12:16] hreinberger commented on #285
This should be fixed by #289

[2018-11-14 12:16] #285 closed

[2018-11-14 12:42] jhoelzl opened #295 "Error on Checkout Page with customer accounts"
Hello,

i am using Payone Module Version 4.2.0 with Magento CE 1.9.3.9.

Sometimes, with certain customer accounts, on checkout page (using Fireckout or Standard Onepage Checkout) this error occurs in system.log:

I also bypassed all custom design/template changes, but issue remains.
However, when i process the checkout as a guest customer (not logged in), the checkout page works.

Any suggestions

[2018-11-14 12:43] hreinberger commented on #292
yep our testing team is on it. We'll release when they're done.

[2018-11-14 12:46] sprankhub commented on #295
Duplicate of #285.

[2018-11-14 12:48] jhoelzl commented on #295
Nice, thanks!

[2018-11-14 12:48] #295 closed

[2018-11-14 15:22] fjbender commented on #276
@T-Kuchel Can you look into this?

[2018-11-14 15:34] sprankhub commented on #294
True. But you mostly use it only, because selectors are a bit more handy to write with it. You could as well use standard Prototype, which is included in each Magento system.

[2018-11-15 07:45] T-Kuchel commented on #276
Confirmation! It is a bug > **clearly**. We will fix it!

[2018-11-15 08:34] jhoelzl opened #296 "Error on Checkout for logged in customers"
Hello,

i am currently testing the Payone 4.2.0 module on Magento CE 1.9.3.9.
When i perform the checkout as a guest user, the Payone creditcard payment method (i acitvated VISA and Mastercard) is shown and i can generate an order.
However, when do the checkout with an user account, the checkout site is broken and a Magento error report is generated:

The tricky thing is that not all user accounts

[2018-11-15 08:52] hreinberger commented on #296
Hi @jhoelzl
first of all, firecheckout is unfortunately not supported out of the box, since our credit card flow requires two steps, which would have to be bound to only one submit event in a one page checkout. So erratic behavior is more or less expected with 3rd party checkouts.

I can't reproduce your behavior with the standard checkout either, so this could be related to an individual configur

[2018-11-15 08:58] jhoelzl commented on #296
Hello @hreinberger,
thanks for your feedback. I did the custom changes which are recommended on Firecheckout website: https://templates-master.com/knowledgebase/faq/payone_core/

I know it worked some time before, so i do not think it has something to do with Firecheckout because i have not changed the module version of both modules (Payone and Firecheckout).

Okay, i will get in touch with the te

[2018-11-15 13:30] T-Kuchel commented on #276
fixed with  [#298](https://github.com/PAYONE-GmbH/magento-1/pull/298)

[2018-11-15 13:30] #276 closed

[2018-11-16 10:00] axe1987 commented on #288
Hallo,

ich habe ein paar weitere Informationen.
In dem erwähnten Checkout.php (Payone_Core_Model_Service_Amazon_Pay_Checkout) in der confirmSelection Methode auf Zeile 146 wird folgendes gemacht:
[code]
Danach stimmen unter anderem die Einzelpreise nicht mehr.
Ich habe Produkte im Warenkorb mit Sonderpreisen. Gebe ich mir die Quote Items vor dem Aufruf der oben erwähnten Zeilen aus, dann stimmen

[2018-11-19 14:35] #296 closed

[2018-11-19 14:36] axe1987 commented on #288
So habe das mit den Preisen jetzt raus.
Der Shop hat die getFinalPrice methode überschrieben um die Preise der einfachen Artikel zu nutzen.
Diese aber beschränkt auf bestimmte URLs, da musste ich nur die Payone URL für amazonpay eintragen dann ging es.
Also ein Fehler bei uns.
Ich denke ich finde das mit den Rabatten auch bei uns.

Werde das aber dann noch hier rein posten, vll hilft es jemand and

[2018-11-19 14:41] jhoelzl commented on #296
Ich konnte den Fehler finden. Bei manchen Kunden war in der mysql-Datenbank für das Attribute "payone_last_payment_method" eine Zahlungsart gespeichert, die es nicht mehr gibt. Beim Aufruf der Bestellseite wurde dann immer diese Zahlungsart geladen. Da diese jedoch nicht mehr verfügbar war, kam es zu diesem Fehler.

Eventuell könnte man das im Payone Modul noch verbessern? Also zuerst prüfen, ob d

[2018-11-19 14:57] fjbender commented on #294
Would make sense, however, I see it as more of a wishlist kinda thing right now, sorry.

[2018-11-19 15:32] sprankhub commented on #296
Ich glaube, das Problem hatte ich auch mal. Wäre cool, wenn die PAYONE Extension beim Löschen einer Zahlungsart die Referenzen in der Quote auch löscht.

[2018-11-20 07:40] sprankhub commented on #286
Did you see this @fjbender? Unfortunately, I am not allowed to reopen the issue.

[2018-11-20 07:45] fjbender commented on #286
Sorry, no, I didn't see it.

[2018-11-20 07:47] fjbender commented on #286
@hreinberger Can you reopen MAGE-395 with Vincent?

[2018-11-20 08:55] #267 closed

[2018-11-20 09:38] sprankhub commented on #294
I currently do not care, because my customers using PAYONE also use jQuery. However, it is weird that you did not have any problems with it yet. Any system, which does not use jQuery will not work with PAYONE. It obviously just shows how widely used jQuery is. However, since this is a bug, I would handle it like a bug. By the way, the fix is simple and straightforward as well.

[2018-11-21 09:09] T-Kuchel commented on #296
fixed with > [PR #299](https://github.com/PAYONE-GmbH/magento-1/pull/299)

[2018-11-28 09:28] axe1987 opened #300 "Fehlende Übersetzung"
In der Version 4.2.1 wurde anscheinend der String "Payment has been processed." nicht in der Übersetzungsdateien (De) übersetzt.

Nur als Hinweis :)

Grüße axe1987

[2018-11-28 13:06] fjbender commented on #300
@T-Kuchel Kannst du das kurz in der Übersetzungsdatei ergänzen (lassen)?

[2018-11-28 14:05] axe1987 commented on #300
Noch eine kleine Anmerkung.
Ich glaube "Bestellung aufgeben" ist nicht so passend.
Ist nach deutschem Recht nicht "Jetzt kaufen" oder "Zahlungspflichtig bestellen" passender?

[2018-11-28 14:32] T-Kuchel commented on #300
Hallo @axe1987 ,

stimmt! Passen wir an > [PR #301 ](https://github.com/PAYONE-GmbH/magento-1/pull/301)

Beste Grüße

[2018-11-29 08:43] T-Kuchel commented on #300
fixed with #301

[2018-11-29 08:43] #300 closed

[2018-11-30 08:36] sprankhub opened #302 "PPE: Call to a member function getItems() on null"
We use Tideways and sometimes see the above mentioned error. The stack trace is:

    1...
    /var/www/shop/htdocs/app/code/community/Payone/Core/Model/Service/Paypal/Express/Checkout.php:219
    2Payone_Core_Model_Service_Paypal_Express_Checkout::returnFromPaypal
    /var/www/shop/htdocs/app/code/community/Payone/Core/controllers/PexpressController.php:101
    3Payone_Core_PexpressController::re

[2018-12-03 07:31] fjbender commented on #302
I'm not sure about being able to debug the issue in the module, but I'd find an entry point by checking whether the API response was valid and contained all expected fields. Maybe it's also an error handling issue.

[2018-12-03 11:57] sprankhub commented on #302
Here you go:

    2018-12-03T10:04:34+00:00 DEBUG (7): WX1A17A9EPEDUQHA

Looking forward to your feedback!

[2018-12-03 13:56] fjbender commented on #302
Thanks for that! Indeed, the Response doesn't contain all needed parameters. This is probably due to the api_version parameter missing in the getexpresscheckoutdetails request you send. I can't reproduce that here in a quick test.

[2018-12-04 12:02] sprankhub commented on #302
I shortly checked the code and cannot see where the `api_version` parameter is set for this PPE call at all. How can we further debug the issue?

[2018-12-04 13:57] fjbender commented on #302
`api_version` wasn't the issue, I checked and I was in error. I dove deeper in the logs of the `workorderid` you provided and compared them to a reference PayPal Express transaction. Seems to me that the user either wasn't redirected to PayPal or (and this is more likely) didn't sign into PayPal correctly resp. didn't complete the checkout there. I'd suppose it's a fraud pattern, or weird user beh

[2018-12-04 14:15] sprankhub commented on #302
Fraud patterns or weird user behaviors still should not result in an uncaught error, right? ;-) So could you check if you can reproduce the issue by not logging in correctly, cancelling the payment etc.?

[2018-12-06 10:45] hreinberger commented on #292
tadaa: https://github.com/PAYONE-GmbH/magento-1/releases/tag/v4.2.1

[2018-12-06 10:45] #292 closed

[2018-12-07 13:04] #302 closed

[2018-12-11 08:54] sprankhub commented on #286
I am not really sure what `$payoneCustomer->loadByCustomerIdPaymentCode` includes, so it is hard to tell if this works. If it includes all `payone_` columns in the `sales_flat_quote_payment` table, this should be fine...

[2018-12-19 17:57] rkconsulting commented on #294
Tbh i find this completely ridiculous.  In the file ratepay.js you are using Vanilla JS, Prototype and jQuery ALL TO DO THE SAME THING at different times!??  Ratepay will NOT work with this extension on a default Magento installation as there is no jQuery included!  This is definitely a BUG, not a wishlist item!

[2018-12-21 06:56] fjbender commented on #294
We'll take on some JS refactoring for the new year.

However, I'd appreciate it if we can have a friendly tone here, so nobody gets frustrated.

Happy holidays and thanks for your continued input and support!

[2018-12-21 09:01] rkconsulting commented on #294
my apologies, no offense was intended.  thanks for changing the status on this.

like the original poster noted, this also affects the credit card payment type, but only in the self-hosted mode (which prob nobody uses anymore these days).  i've fixed these for our client and converted the jquery stuff to prototype, will submit an update here for your review when our integration is complete.

[2018-12-21 09:04] fjbender commented on #294
No hard feelings :)

Thanks for that, looking forward! Self hosted mode shouldn't be widely used these days, but we'll take it into account as well.

[2019-01-07 15:01] hreinberger commented on #286
fixed in #304

[2019-01-07 15:01] #286 closed

[2019-01-08 07:12] fjbender commented on #294
We analyzed the usage of different JS techniques now:

|Vanilla|Prototype|jQuery|File|
|--- |--- |--- |--- |
|V|P|x|js/payone/core/addresscheck.js|
|V|x|J|js/payone/core/amazonpay.js|
|V|x|x|js/payone/core/client_api.js|
|V|P|x|js/payone/core/creditcard.js|
|x|P|x|js/payone/core/debitpayment.js|
|x|P|x|js/payone/core/klarna.js|
|x|P|J|js/payone/core/masterpass.js|
|x|P|x|js/payone/core/onlinebankt

[2019-01-08 10:34] #291 closed

[2019-01-08 10:34] #293 closed

[2019-01-08 10:35] #257 closed

[2019-01-08 10:36] #218 closed

[2019-01-08 10:38] fjbender commented on #213
With #231 this is now possible.

[2019-01-08 10:38] #213 closed

[2019-01-08 10:41] #235 closed

[2019-01-08 10:42] #191 closed

[2019-01-08 10:42] #204 closed

[2019-01-08 10:43] sprankhub commented on #204
Are you sure you do not want to implement that? :-)

[2019-01-08 10:48] fjbender commented on #204
Yes - the requirements document from when we first introduced PayPal Express stated, that Terms & Conditions, Widerrufsbelehrung etc. have to be displayed before finalizing the transaction.

I see how this would speed up the checkout process and increase convenience for buyers, but it would pose a risk for merchants not familiar with legal requirements. Sorry.

[2019-01-09 09:29] sprankhub opened #308 "Array to string conversion on TransactionStatus View"
If I open a specific transaction status (`/admin/payonecore_protocol_transactionStatus/view/id/123/`), I get the following notice:

    Notice: Array to string conversion  in /var/www/shop/app/design/adminhtml/default/default/template/payone/core/protocol/transactionstatus/view/tab/general.phtml on line 46

The issue is that the following fields are of type array:

- de
- id
- no
- pr
- ti
- va

S

[2019-01-09 13:16] fjbender commented on #308
@T-Kuchel Can you validate this, then test and review my PR #309?

[2019-01-09 14:31] #308 closed

[2019-01-11 10:21] rkconsulting commented on #294
Was fuer eine schoen bunte Liste! :)  Ich werd demnaechst mal nen Pull Request machen fuer unsere Anpassungen fuer Ratepay und Kreditkarte, dort haben wir jQuery schon rausgehauen, koennt ihr ja als Vorlage fuer weitere Aenderungen nehmen.

[2019-01-11 10:49] Backenkoehler commented on #156
Any updates here? We right now have problems with sofortüberweisung (payone) and OneStepCheckout

[2019-01-11 10:52] rkconsulting opened #310 "Ratepay Integrationsprobleme"
Hi, wir haben immer noch ein paar Probleme mit der Implementierung von Ratepay in dieser Erweiterung.  Die Erweiterung wurde in diesem Magento 1.8.1 System installiert, die Referenzen zu jQuery aus den Ratepay- und Kreditkarten-Templates entfernt bzw. ersetzt durch entsprechende Prototype-Befehle.  Leider wird in keinen der von uns getesteten Szenarien die VAT_id korrekt an die API uebergeben (ist

[2019-01-12 05:09] madismanni commented on #156
Hi!

If you have issues please write description of exact issue to
support@onestepcheckout.com and make sure you have a valid support and
update plan. Support will debug your issue. Such issues need to be debugged
individually.
*Best regards,*
*Madis*

On Fri, Jan 11, 2019 at 11:50 PM Stephan <notifications@github.com> wrote:

[2019-01-14 08:56] fjbender commented on #310
Moin,

ich kann das so nicht bestätigen. Ich habe in einem Stock-Magento 1.9.3.10 (die 1.8er Reihe haben wir hier leider nicht mehr im Testsystem) und dem aktuellen Modul (also ohne js-Modifikationen) getestet. die VAT-ID wird durchgereicht, ein Geburtsdatum ist nicht nötig.

[2019-01-14 14:02] sprankhub opened #312 "Sofortüberweisung: Hashes Do Not Match"
We are currently working on a feature, which allows to skip certain checkout steps. For instance, if you paid via advance payment, you directly get to the checkout review step during your next order. It skips the address, shipping and payment steps if possible. This should also be possible for Sofortüberweisung. However, as soon as I skip the payment step, I get an error from Sofortüberweisung tha

[2019-01-14 14:18] hreinberger commented on #312
Hi @sprankhub
we encountered this issue first after magento released 1.9.3.0. The redirect URL was url encoded twice, which led to a missing ";" in the actual URL (specifically in the "user_variable_0" parameter). We fixed this in https://github.com/PAYONE-GmbH/magento-1/releases/tag/v3.6.9

So first you could double check if our redirecturl gets altered in any way.

[2019-01-14 15:47] sprankhub commented on #312
Thanks for the hint @hreinberger!

I found out that the code you mentioned has been refactored in https://github.com/PAYONE-GmbH/magento-1/commit/e93533754d0de21050dabafb8a3ddbd4d6dad751#diff-e8fe328f7cf37c76893e459bbd930d68. And indeed, this seems to be the issue! Without my modification, your customized [Review.nextStep](https://github.com/PAYONE-GmbH/magento-1/blob/d1a4c2212d1e05749b660dde9e110

[2019-01-16 09:35] sprankhub opened #314 "Notice: Undefined index: type in creditcard.phtml on line 218"
I get the following notice, when I order as a guest, select "shipping address same as billing address" and save the billing address:

    Notice: Undefined index: type  in /var/www/shop/app/design/frontend/base/default/template/payone/core/payment/method/form/creditcard.phtml on line 218

Please fix.

When fixing this, the unchecked usage of `$selectedCreditCartType['name']` should probably also b

[2019-01-16 12:31] fjbender commented on #314
Could reproduce, will issue a fix.

[2019-01-22 15:46] thampe commented on #121
Hallo zusammen,

gibt es hier ggf. neue Entwicklungen?

[2019-01-22 16:23] hreinberger commented on #121
Hi @thampe
leider aktuell noch nicht, aber wir haben das Thema intern nochmal angestoßen und schauen mal, ob @dennismax s Vorschlag gangbar wäre. Falls ja, könnten wir das auf alle Zahlarten ausweiten.

[2019-01-29 11:50] rkconsulting commented on #310
Danke fuer die Pruefung.  Ich zitiere mal den Tech Support von Payone:

"In Ihrem Account ist die Zahlungsart Ratepay Invoicing (RPV) freigeschaltet, das bedeutet Kauf auf Rechnung, nicht Ratenzahlung auf Rechnung, auch wenn es anders klingt.
Für Ratepay ist laut Dokumentation (Seite 6) das Geburtsdatum Pflicht."

Im Anhang die von Payone weitergeleitete Doku.  Unterstuetzt dieses Modul wirklich d

[2019-01-29 12:24] fjbender commented on #310
Ja, RPV wird definitiv unterstützt, z.B. mit dieser Konfiguration:

![image](https://user-images.githubusercontent.com/7370694/51908145-44222d80-23c9-11e9-814b-02d024a036ea.png)

[2019-01-30 08:37] sprankhub commented on #314
Fixed in https://github.com/PAYONE-GmbH/magento-1/pull/315.

[2019-01-30 08:37] #314 closed

[2019-01-30 08:49] rkconsulting commented on #310
Ok, danke nochmals.  Dann gehen wir jetzt einfach davon aus, dass die Support-Leute bei Payone keinen Plan haben und suchen den Fehler bei uns bzw. bei Magento 1.8.

[2019-02-07 13:39] jaashy89 opened #319 "Add Housenumber to Street"
Hi we are facing a little problem -
we have custom field name house_number for the address, which is getting used at various places,
now we want while street is getting set for payone api we should concat house_number as well.

Please let us know in which file we should update .
As we saw there are 9 files which are setting street using setStreet() method, and also in our case we can't use street[

[2019-02-08 10:18] fjbender commented on #319
Hi,

my first guess would be to look in the mapper `\Payone_Core_Model_Mapper_ApiRequest_Payment_Authorize_Abstract::mapPersonalParameters`. We use a helper method there to determine how to concat the street, `\Payone_Core_Helper_Data::normalizeStreet`. Does this help?

[2019-02-12 13:16] sprankhub commented on #277
Any update @hreinberger @fjbender?

[2019-02-12 13:27] sprankhub opened #321 "Parameter {state} faulty or missing"
I often see the above mentioned error in the logs. It occurs every time a customer enters a region in a text field (no dropdown) and he does not use ISO 3166-2. Examples from a stock Magento 1.9.4.0:

- Indonesia / "Jawa barat"
- Indonesia / "East Java"
- Indonesia / "Bekasi"
- Japan / "HYOGO"
- Japan / "Hy?go"
- Japan / "hyg"
- Brasil / "Minas Gerais"

The issue is that by default, Magento only s

[2019-02-12 13:39] hreinberger commented on #277
Hi @sprankhub sorry this had to take the back seat due to other topics for the moment but we're still on it!

[2019-02-13 16:00] hreinberger commented on #321
Hi @sprankhub
we recently documented this in our latest revision of the documentation, see https://github.com/PAYONE-GmbH/docs/commit/84bae06761ed70e23e7f725509f00b27271f6374 (Chapter "configuration of state codes for international shops"), the lists with codes can be found in Chapter 5.10 of our server API documentation. The "state" parameter is only mandatory in the following countries: US, CA,

[2019-02-14 11:22] sprankhub commented on #321
Thanks for updating the documentation!

Yeah it seems that in either case, there is no nice solution for the topic.

IMHO, you should add the following information to the documentation as well:

[2019-02-14 13:30] hreinberger commented on #321
consider it done! 👍

[2019-02-14 13:30] #321 closed

[2019-02-21 09:17] ikorlevic opened #326 "Problem with Amazon pay data"
Hi,
we have a problem with the data received from Amazon pay. Since our customers like to use the packing stations they also enter their post number in the address fields during Amazon Pay checkout. The problem is that the fillAddressFields function has a hard coded map of fields that are saved in the database. The other problem is that we cannot easily extend it because this function is private.

[2019-02-21 09:53] #121 closed

[2019-02-21 09:54] hreinberger commented on #121
Hallo zusammen,
wir haben gerade https://github.com/PAYONE-GmbH/magento-1/pull/322 gemerged und würden uns über Feedback freuen! In unseren internen Tests sehen die Ergebnisse gut aus. Danke an @dennismax!

[2019-02-21 10:38] T-Kuchel commented on #326
Hello @ikorlevic ,

at first thank you for this information. We will investigate on this.
Maybe there is a smarter way to handle / determine "Packstation" - addresses.
Therefore we have to talk with amazon.

If we have any  feedback or solution we will notify you.

regards
Timo

[2019-02-21 12:23] ikorlevic commented on #326
Hi Timo.thanx

On Thu, Feb 21, 2019, 11:38 Timo Kuchel <notifications@github.com wrote:

[2019-02-25 14:10] lubana89 commented on #319
yes it helped- mapPersonalParameters

[2019-02-25 14:42] JEreth opened #327 "Ratepay: Payment Method not available when tx_limit_invoice_min / tx_limit_invoice_max is NULL"
Somehow our Ratepay config that comes from the backend does not contain min/max values. Thereby the config values from tx_limit_invoice_min  and tx_limit_invoice_min  are null.

This causes the issue that the payment method is not available as the available query in _Payone_Core_Model_Payment_Method_Ratepay_ and _Payone_Core_Model_Payment_Method_RatepayDirectDebit_ contains the following part:
` {

[2019-02-25 14:45] fjbender commented on #327
According to the specification from Ratepay given to us prior to implementation this shouldn't occur. I'd like to investigate further before introducing any changes to the plugin. Please send the Merchant ID (mid) and ideally a timestamp of a Ratepay "profile" request (occurs when saving the Ratepay payment config to the database) to integrations@bspayone.com.

Thanks
Florian

[2019-02-27 08:09] #294 closed

[2019-02-28 09:29] JEreth commented on #327
Thanks for the feedback, so we assume this is a configuration mistake on ratepay/payone side. We created a ticket for this.

[2019-02-28 09:29] #327 closed

[2019-03-08 11:52] sprankhub opened #330 "Apple Pay Support"
Do you support Apple Pay or plan to support it soonish?

[2019-03-08 11:52] sprankhub opened #331 "Google Pay Support"
Do you support Google Pay or plan to support it soonish?

[2019-03-08 11:59] hreinberger commented on #330
Hi @sprankhub
yes, we plan to support apple pay in the future, though the payment method is still in development on our platform. So we have to wait until this is more or less done to start developing the integration.

Our current planning is that magento would certainly be one of the first integrations to get Apple Pay support, but at this point we can't give you a timeline on this.

So to answer

[2019-03-14 11:14] sprankhub opened #332 "Transmit Order Number Instead of Transaction Number to PayPal"
In the PayPal backend, you can get monthly reports under Berichte > Kontoauszüge > Monatliche Kontoauszüge. These reports are important for the bookkeeping department. When using the Magento PayPal module, the column "Rechnungsnummer" is filled with the Magento order number. However, when using PayPal via PAYONE, this column is filled with the txid. This leads to issues in the bookkeeping departme

[2019-03-14 12:19] hreinberger commented on #332
Hi @sprankhub
the field "Rechnungsnummer" is filled with the txid by our platform, so there's unfortunately no easy way for the plugin to fill this one with the magento invoice number.

However, there is a per-merchant configuration on our platform, which can overwrite the txid with the content of the parameter narrative_text, so if it's absolutely necessary you could let our service enable this c

[2019-03-14 12:19] #332 closed

[2019-03-14 13:22] sprankhub commented on #332
Thanks for the quick answer @hreinberger!

[2019-03-14 13:43] #330 closed

[2019-03-14 13:45] hreinberger commented on #331
Hi @sprankhub
basically, our Google Pay integration should follow shortly after Apple Pay. As with Apple Pay, we can't give you an exact timeframe yet.

[2019-03-14 13:45] #331 closed

[2019-03-16 14:55] gutschik commented on #302
In my case the error always was thrown if the total amount was lower than 50 euros and therefor the shipping rate would be greater than 0.
I did not once get the error if the issued amount was greater than 50.

[2019-03-19 13:08] fjbender commented on #302
@gutschik that's interesting. Has this behavior also been fixed with #303? If not, I'd be glad if you could open a new issue.

[2019-03-19 14:25] gutschik commented on #302
@fjbender it surely has been fixed in #303 with `if (is_null($response->getPayData())) {` - I was just asking myself why paypal would hold back that data.
And maybe there is a way to fix this error with a more user friendly approach. I will look into it and PR if I succeed.

[2019-04-03 09:52] sprankhub commented on #277
Sorry for bugging again, but any update @hreinberger? It should not be too hard if you really remove the fields :-) Thanks!

[2019-04-04 15:30] hreinberger commented on #277
Hi @sprankhub
turns out it's not that easy to find reliable info on whether or not a cardholder is required. While it's still true that this info is completely optional at the time of an authorisation, the cardholder name can get requested when there's a chargeback request by the issuer due to suspected fraud.

However, the scheme rules https://www.mastercard.us/content/dam/mccom/global/documents/

[2019-04-04 19:57] fjbender commented on #277
@hreinberger Can you check this with the Scheme Compliance Office?

[2019-04-05 09:32] sprankhub commented on #277
Thanks for the detailed update! Looking forward to more updates :)

[2019-04-05 10:11] AnuragKhandelwal15 commented on #199
I cannot find v2 for the patch 10572, can anybody help me out!

[2019-04-22 14:46] dbachmann opened #336 "Fehlerhafte Berechnung von Steuern in Magento 1.9.4.1"
Es wird zur Zeit die aktuellste Version von Magento und Payone genutzt. Allerdings wird die Steuer falsch berechnet. Die Preise, die im Shop angegeben sind enthalten bereits die MwSt. allerdings wird hier durch Payone nochmals eine Steuer draufgerechnet. Wenn ich die Extension deaktiviere, stimmt es wieder. Im Anhang dazu ein Screenshot mit aktivierter Payone-Extension und einmal ohne.
![payone](h

[2019-04-23 11:12] hreinberger commented on #336
Hi @dbachmann
ich habe gerade mal versucht, das mit einem 1.9.4.1 Testshop nachzuspielen, kann das hier ad hoc aber nicht reproduzieren. Das Thema scheint irgendwie mit der Konfiguration des Shops zusammenhängen. Der beste Weg wäre hier, wenn du einmal die Kollegen vom Tech Support (tech.support[at]bspayone.com) anschreibst. Am besten mit einem Export der Konfiguration (über PAYONE --> Konfigurati

[2019-05-15 10:56] sprankhub opened #337 "Transmit Order Number Instead of Transaction Number to PayPal - Creditmemos"
This is a follow-up of issue #332.

If the per-merchant configuration on the PAYONE platform, which can overwrite the txid with the content of the parameter narrative_text as described in #332, is activated, PayPal gets the order number correctly if an authorization is executed. However, this does not work for creditmemos. For creditmemos, the narrative_text is not transmitted to PayPal. As the PA

[2019-05-15 11:11] hreinberger commented on #337
yep, seems reasonable. We'll look into that.

[2019-05-16 07:15] sprankhub commented on #277
Seems to be implemented via #338.

[2019-05-16 07:16] fjbender commented on #277
ACK, referenced it in the PR accordingly.

[2019-05-23 09:32] #277 closed

[2019-05-29 08:29] sprankhub opened #339 "Wrong IP Submitted to PAYONE"
One of my customers started to use some fraud checks based on the IP, which is transmitted from Magento to PAYONE. Now we got a whole lot of errors like this:

After talking to the technical support, they told us that we always transmit local IPs (either `127.0.0.1` or `::1`). After checking the `x_forwarded_for` value stored in the orders, I see the following format:

    123.456.789.123, 127.0.0

[2019-05-29 10:58] fjbender commented on #339
Well, this is tricky. I suppose we can never know, which IP in the array is the true one. The way I see it, we receive it from `Mage_Sales_Model_Order` directly, using either `getRemoteIp()` or (in your case, as you have "Proxy Mode" enabled, I suppose) `getXForwardedFor()`. It would probably be smart to eliminate any IP that doesn't make sense and then take the first one that remains, but this wo

[2019-06-03 06:07] fjbender commented on #339
Makes sense! It seems, though, that not all clients adhere to the specification, or @phizab's change wouldn't have worked in their case.

We should probably revert this to follow RFC 7239, and additionally make sure that no nonsense-IPs are included in order to not confuse any API-side checks.

[2019-06-05 07:58] fjbender commented on #339
I created a PR for this issue, but would like a second opinion by any user affected from this change, i.e. by @phizab

[2019-06-05 17:18] phizab commented on #339
I think MDN and RFC win, so it should match with them. The PR needs to be reverted. Sorry for the missing research in my request.

[2019-06-06 06:06] fjbender commented on #339
Thanks for your feedback, and don't worry! We'll review and merge #342. Is there any explanation why it's different in your setup?

[2019-06-06 06:45] #339 closed

[2019-06-06 07:00] phizab commented on #339
To be honest I can't remember the exact reason for the PR, since we are not using the address check. In the worst case I only read the comment above the referenced line and thought that were a special reason for using the last IP. I will check our setup next week, when I'm back in office.